[2020-01-16 19:58] shawnthompson opened #1 "Relative paths to assests"
Need to figure out how to set a relative path to the all the files we link in the templates so that we can run the JS from any server and all the paths will be relative from the JS and not the page the the code is injected on.

Opened an issue in the Google Closure repo on Github.

https://github.com/google/closure-templates/issues/200

[2020-01-16 19:59] shawnthompson opened #2 "Add security to the project"
https://about.gitlab.com/stages-devops-lifecycle/secure/

* SAST
* Secret Detection
* https://lgtm.com
* Verified commits

[2020-01-16 20:01] shawnthompson opened #3 "Soy/Closure Template dependency"
Copied from https://gitlab.com/shawnthompson/sgdc-cdts/issues/3

Open by @nschonni

Is this a requirement of a current server-side implementation that is depended on by implmentors, or is it just an intermediate build tool that spits out some compiled files?
I'm wondering since you're switching from a Java to Node build setup, if taking a dependency on this templating language is still needed, or

[2020-01-16 20:01] shawnthompson commented on #3
Just switching the building tool. Not the language. That will be in version 2.0. Creating our own.

https://gitlab.com/esdc-edsc/next_centrally_deployed_templates_solution

[2020-01-16 20:05] shawnthompson opened #4 "Use @Latest version as a devDependency instead of checking in copy to _test"
Copied from: https://gitlab.com/shawnthompson/sgdc-cdts/issues/2

Open by @nschonni

using the something like `npm i -D cdts@latest` once it's published the first time, would add the files to the node_modules if you're looking to compare. Alternately to the `@latest` I think there is a syntax to use a git branch like `npm i -D https://github.com/cdts/cdts#release-branch-name`

[2020-01-16 20:06] shawnthompson commented on #4
Might be something in the future we can do

[2020-01-16 20:07] shawnthompson opened #5 "Ignore dist directory in gitignore and include in npmignore"
Copied from https://gitlab.com/shawnthompson/sgdc-cdts/issues/1

Open by @nschonni

Checking in the build files will likely get messy. You can ignore the files from git, but include them as part of the NPM published tarball using npmignore.

[2020-01-16 20:09] shawnthompson commented on #5
Added `dist` to the gitignore... @nschonni remind me again what I should put in the npmignore and what it does?

[2020-01-16 20:13] shawnthompson opened #6 "Uglify / minify JS"
Use **node** to minify / uglify files, try [https://www.npmjs.com/package/uglify-js](uglify-js).

Create a `./scripts/minify.js` file

[2020-01-16 20:16] shawnthompson opened #7 "Submodules for example pages"
Setup git [submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules) for sample pages.

Need to create new repo to put them in.

[2020-01-16 20:17] shawnthompson opened #8 "Add CI to test and build"
Use a CI to tests source code

Maybe use Travis-ci

[2020-01-16 20:19] shawnthompson opened #9 "Deploy with CI"
Use CI to deploy `dist` folder to servers

Use TravisCI to deploy to azure and teamsite

[2020-01-16 20:26] pabrams commented on #5
I think you just need to add the file, and not exclude dist in the file.  Otherwise npm uses the gitignore.

https://github.com/sinonjs/sinon-test/pull/62

[2020-01-16 21:21] shawnthompson commented on #9
Brainstorming...  Workflow

Change to be made...
1. `$ git pull origin master`
2. `$ git checkout -b new-change`
3. make change
4. build package
5. previous change locally
6. `$ git commit -am "my new change, related #issue"`
7. `$ git push origin new-change`
8. create merge / pull requests into *master*
9. CI runs test
10. If test pass, able to merge
11. Merge *new-change*
12. CI run build and cr

[2020-01-16 22:10] duboisp commented on #9
To help you, we already have something similar setup for wet-boew when the TravisCI build is triggered on the creation of a tag or when commit is merged to master.
The build script do the following
* compile wet-boew
* Clone repo which contains the compiled files
* Take the files in the builded dist and do a commit in the repository in the master branch and create a corresponding tag if needed
* T

[2020-01-17 21:46] nschonni commented on #5
You use (and partially duplicate I guess) with the `.npmignore` if you want things included when you publish your NPM package (like maybe built copies of files) but you don't want included in your git history.

[2020-01-17 23:03] shawnthompson commented on #5
I think I read something about deploying from TravisCI and it reading your gitignore so there's something I will need to do to deploy my `dist` folder.

[2020-01-18 18:48] shawnthompson opened #14 "Create CONTRIBUTING file"
Need to add a CONTRIBUTING file to talk about the roles of all contributors should be employees of GoC and the security requirements

https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors

[2020-01-18 19:11] shawnthompson commented on #9
So far...
* created a repo to host the `./dist` folder [/wet-boew/cdts-sgdc-cdn](https://github.com/wet-boew/cdts-sgdc-cdn)
* gave @wet-boew-bot writing access to the repo
* created a personal access token from the @wet-boew-bot account
* created an Environment Variables in the [Travis-ci cdts project](https://travis-ci.org/wet-boew/cdts-sgdc/settings) **$GITHUB_TOKEN**
* added a script that uses

[2020-01-20 15:19] EricDunsworth opened #18 "Repo description contains broken GitHub pages link"
I noticed that the description in [this repo's main page](https://github.com/wet-boew/cdts-sgdc) is currently leading to a 404 error page:

I thought maybe it was just an outdated link, so I tried changing the subdomain from "cenw-wscoe" to "wet-boew" to get https://wet-boew.github.io/sgdc-cdts/... but it still didn't work.

This repo has a ``gh-pages`` branch, but it doesn't seem to be taking eff

[2020-01-20 15:42] shawnthompson commented on #9
Using Travis to deploy to the cdn repo:

[code]

[2020-01-20 15:53] shawnthompson commented on #18
Whoops, it's now fixed.

https://github.com/cenw-wscoe/sgdc-cdts

Thanks for looking out!

[2020-01-20 15:53] #18 closed

[2020-01-20 18:39] s-laugh opened #19 "Versioning Path Refrence"
If the updated project is using [proper semantic versioning](https://semver.org/), you should only need to list the Major version in the path.

I'm referencing the note in the [README.md##new-dns-structure](https://github.com/wet-boew/cdts-sgdc#new-dns-structure)

Instead you should be able to use something like `sgdc-cdts.canada.ca/v1/cdts/js.gcweb-en.js`; _note the **v1** doesn't include the min

[2020-01-20 19:49] shawnthompson commented on #19
I kind of agree with you but application groups are expecting do be able to use older version. I don't want to breaking expectations (bad enough I break changes regularly 😜 ). I think we can use "latest" or what we call "run" and then kind of deploy different versions with "tags" into different directories on a sever. I totally agree with you that we shouldn't be maintaining different versions

[2020-01-20 20:52] s-laugh commented on #19
If you don't push breaking changes, there is no reason not to update to the latest. Generally the only reason application groups want the ability to target older version is because they don't have the time to make manual changes. However if they don't have to make any changes to be on the latest (with this method) that need will go away.

[2020-01-20 21:37] shawnthompson commented on #19
But what if WET pushes breaking changes? Application teams don't trust Web and they tend not keep up with the changes and have other JS that conflict with what WET does. We've seen it often. WET changes something and it breaks they custom JS code.

[2020-01-21 13:21] s-laugh commented on #19
If WET pushes a breaking change and there is nothing CDTS to mitigate the break, then CDTS is also releasing breaking changes so you would be required to update the major version, which would update the path to `..\v2\..`.

[2020-01-21 13:48] shawnthompson commented on #19
I somewhat agree with you but I think we will leave it at status quo, until v2 or the nextCDTS ever comes out when we can have a discussion with the business side of CDTS. I'll leave this issue open for further discussion.

[2020-01-21 20:20] pabrams commented on #14
I see there's already a file created in the root.  Can this issue be closed?  At first I thought there was some stuff missing (how to build, etc.), but I think it's all covered in the README.md.

[2020-01-22 14:25] timarney commented on #3
It would be good to note in the Readme that a Java runtime is required for the templates to compile.

The current build step fails if you don't have a Java runtime installed.

[2020-01-22 14:27] shawnthompson commented on #3
Shoot I forgot about that because it was already installed! Thanks @timarney

[2020-01-22 17:16] #14 closed

[2020-01-22 20:19] shawnthompson commented on #9
Update: I am using the exact same logic that WET uses, build with Travic-ci and then deploy the `artifacts` to a different repo. https://github.com/wet-boew/cdts-sgdc-cdn

Hopefully I can get Azure to pull from the repo into specific folders for every version of the compiled files. And do the same with Jenkins for the internal servers.

[2020-01-22 20:49] shawnthompson commented on #7
Decided to use npm to pull project down instead of submodules.

First step is getting a package.json file in the docs repo : https://github.com/cenw-wscoe/sgdc-cdts

[2020-01-22 20:49] shawnthompson commented on #6
Done using grunt

[2020-01-22 20:49] #6 closed

[2020-01-22 20:50] shawnthompson commented on #5
deploy and build worked so I think we can close this. If I'm wrong please reopen it.

[2020-01-22 20:50] #5 closed

[2020-01-23 15:57] shawnthompson opened #26 "Translate README.md"
Once finished we need to translate the [main page](README.md) into French.

[2020-01-23 18:38] shawnthompson opened #28 "Add static files to project"
Need to add the repo

https://github.com/cenw-wscoe/sgdc-cdts/tree/gh-pages/GCWeb/static

Might want to deploy this to a separate repo so it can zip and people can pull just the static pages.

@s-laugh doesn't think we have enough repos

[2020-01-23 20:58] shawnthompson commented on #9
Every time we tag the repo, Travis creates a new build and deploys the `./dist` folder to the cdn depoy with a new tag. will use Azure Jenkins to pull from cdn and deploy to servers with domains/tags folders.

[2020-01-24 14:35] shawnthompson commented on #1
Posted on Stack overflow

https://stackoverflow.com/questions/59825368/linking-to-assets-using-google-closure-templates

[2020-01-24 19:24] shawnthompson commented on #1
Posted on Google discussions group

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/closure-compiler-discuss/hbkHxgvW1i0/19Y_1sD-EQAJ

[2020-01-25 00:14] pabrams commented on #9
Looks like TFS could also do the job.

[2020-01-25 00:22] pabrams commented on #9
When there is a release to be made, does it need to be deployed to a version folder? I'd normally expect it to be deployed to an existing location, overwriting the previous version.

[2020-01-27 15:40] shawnthompson commented on #9
Update...  Workflow

Change to be made...
1. `$ git pull origin master`
2. `$ git checkout -b new-branch`
3. make change
4. build package
5. preview change locally
6. `$ git commit -am "my new change, related #issue"`
7. `$ git push origin new-branch`
8. create merge / pull requests into *master*
9. Travis-CI runs test (non created yet) and builds
12. If test .build pass, able to merge
13. Merge *

[2020-01-28 14:47] sewch commented on #9
@shawnthompson, do you have location(s) on premise already in place for deploying these to?

[2020-01-28 14:49] shawnthompson commented on #9
@sewch yes both internal web server and an Azure sandbox.

[2020-01-28 21:08] shawnthompson commented on #9
Posted on Stack overflow
https://stackoverflow.com/questions/59957037/git-creating-a-directory-structure-based-on-git-tags

[2020-01-29 16:02] shawnthompson opened #33 "Create custom search variant for GCWeb templates"
We need to create custom search variant like we are doing for the application and gcintranet templates.

https://github.com/wet-boew/cdts-sgdc/blob/master/_src/soy/gcweb/en/gcweb-appPage-en.soy#L58

https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32/cdts/appTop/apptop_search-en.shtml

[2020-01-29 17:08] StdGit commented on #33
cristian.oprisanu@servicecanada.gc.ca said he will take care of the issue for the client brian.golden@canada.ca. However this is an enhancement that we could do.

[2020-01-29 17:42] shawnthompson commented on #33
Actually it was something TBS asked us to do. They are already doing it on Canada.ca

[2020-01-30 23:52] shawnthompson commented on #1
Adding back the `cdnEnv` variable with an option to add a specific path. Not ideal but will work until someone has the time to come up with a solution.

[code]

This will make the paths relative to server instead of absolute and allow to use a giving relative path.

[2020-02-03 14:42] shawnthompson opened #47 "Change release repo to use submodules instead of copy of files"
In this repo https://github.com/wet-boew/cdts-sgdc-releases we are deploying copies of the releases into it.

Controlled in the [Gruntfile.coffee @ L325](https://github.com/wet-boew/cdts-sgdc/blob/master/Gruntfile.coffee#L325):

Might be better to use [submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules) instead.

Similar to how WET does it in their [themes-dist](https://github.com/wet

[2020-02-03 17:40] TTVXStarWake opened #48 "RE: question re. Service Canada Issue with Chrome 80"
Moved from GCCode to Github : https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/150

@StdGit

[RE__question_re__Service_Canada_Issue_with_Chrome_80.zip](https://github.com/wet-boew/cdts-sgdc/files/4149678/RE__question_re__Service_Canada_Issue_with_Chrome_80.zip)

[2020-02-03 19:12] MaximMartel commented on #48
@shawnthompson: We should be testing CDTS with Chrome on an external device like the Macbook testing has.

[2020-02-03 19:23] MaximMartel opened #49 "CDTS V4.0.32 ExitScript issue when using a link with target="_blank""
Moved from GCCode : https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/149

@StdGit

[CDTS_V4_0_32_ExitScript_issue_when_using_a_link_with__target___blank__.zip](https://github.com/wet-boew/cdts-sgdc/files/4149723/CDTS_V4_0_32_ExitScript_issue_when_using_a_link_with__target___blank__.zip)

[2020-02-03 19:43] TTVXStarWake opened #50 "Update to Adobe Analytics with custom code."
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/147

@shawnthompson

Would like to add a custom variable into the AA code that would allow developers to add in their own URL to the Analytics versioning. Principle Publisher will be updating the AA version often (about every 6 months). but adding a custom rule, they can update their own. To stop breaking change we n

[2020-02-03 20:56] MaximPerry opened #51 "Make exit variables to an array"
Moved from GC Code from https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/18 :

[code]

[2020-02-03 20:57] MaximPerry commented on #51
From @shawnthompson :
Still an issue, need to make sure it's documented moving forward and not a breaking change when we do it. Just add to it, don't remove the old logic.

[2020-02-03 21:05] MaximPerry opened #52 "Escaping HTML and JS"
Moved from GC Code: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/30

From @shawnthompson :

As noted in an email "contactLink override in CDTS v4_0_26".

Google closure is not escaping JS or HTML

On this page:

https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_26/cdts/appTop/msca-footer.shtml

``HTML
		<script type="text/javascript">
			var defFooter = document.getElem

[2020-02-03 21:05] MaximPerry commented on #52
From @shawnthompson :
I found this
https://developers.google.com/closure/templates/docs/security

[2020-02-03 21:06] MaximPerry commented on #52
From @shawnthompson :
Still a problem.
Open a Github issue, then close this issue.

[2020-02-03 21:09] MaximPerry opened #53 "Create appTop templates for GCIntranet"
Moved from GC Code : https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/36

From @shawnthompson :

Still needs to be done.

[2020-02-03 21:12] MaximPerry opened #54 "GCWeb: revert data-wb-ajax in menu"
Moved from GC Code : https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/42

From @shawnthompson :

Related to: #40

Commit: 9fa36892a1859f4d80382ac534633b2311699def

WET Issue: https://github.com/wet-boew/wet-boew/issues/8241

[2020-02-03 21:15] MaximPerry opened #55 "Replace document.write"
Moved from : https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/47

From @shawnthompson :

Related to
https://gccode.ssc-spc.gc.ca/GOCWebTemplates/DotNetTemplates/issues/183

[2020-02-04 13:49] MaximMartel opened #56 "Questions concerning the CDTS"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/146

@StdGit

rami.elhayek@servicecanada.gc.ca, Tél.: 819-654-0362
Hello,

I am currently tasked to modernise a web based project to a .NET MVC C# application.
A part of this initiative is to work with the most modern version of the CDTS. There are a couple of questions that I have concerning the template in general:

[2020-02-04 13:50] MaximMartel commented on #56
@shawnthompson wrote:

@rami.elhayek This is not something I see us doing in the near future but it might be something the [DotNetTemplates](https://gccode.ssc-spc.gc.ca/iitb-dgiit/sds/GOCWebTemplates/DotNetTemplates) can do.

Thoughts @s.laugh

[2020-02-04 13:53] MaximMartel commented on #56
@s-laugh wrote:

As for (1) the GCTools links, there is an open issue to implement the feature iitb-dgiit/sds/GOCWebTemplates/DotNetTemplates#316

As for (2) the local CSS & JS, the DotNetTemplates already supports a feature called the [Static Fallbacks](https://gccode.ssc-spc.gc.ca/iitb-dgiit/sds/GOCWebTemplates/DotNetTemplates/wikis/Documentation/configurations#setting-the-fallback-files-locatio

[2020-02-04 14:29] MaximMartel opened #57 "RE: BSD-9343 Noticed a difference for the references (English compared to French) - Reference #20190611-150922-000-A"
Moved from GCCode:  https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/144

@StdGit opened issue

Good day Scott and thank you for your patience!

My name is Eric Guitard and I’m with the Content & IA team for Canada.ca at Service Canada. After a brief investigation with our development team, they don’t think the error is related to your pages being slow. Setting an expiration date for

[2020-02-04 14:32] MaximMartel commented on #57
[RE_BSD-9343_Noticed_a_difference_for_the_references__English_compared_to_French__-_Reference__20190611-150922-000-A.zip](https://github.com/wet-boew/cdts-sgdc/files/4153976/RE_BSD-9343_Noticed_a_difference_for_the_references__English_compared_to_French__-_Reference__20190611-150922-000-A.zip)

[2020-02-04 18:22] MaximMartel opened #58 "Leverage of the jquery of the CDTS"
Move from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/140

@StdGit created the issue

# Chavet, Laurence (PCH) [laurence.chavet@canada.ca](mailto:laurence.chavet@canada.ca) St-Laurent, Christian \[PCH-PCH\] [christian.st-laurent@canada.ca](mailto:christian.st-laurent@canada.ca); Chen, Xiaosong \[PCH-PCH\] [xiaosong.chen@canada.ca](mailto:xiaosong.chen@canada.ca)

Similar

[2020-02-04 18:27] MaximMartel commented on #58
@laurencechavet wrote:

The proposal from the "eiort search template" to move the defRefFooter call directly below the body works well. Could this be done in the CDTS template so all the departments could beneficiate it, and so we would not have to customize the CDTS on our part, which I would like to avoid. Thanks

[2020-02-04 18:28] MaximMartel commented on #58
@laurencechavet wrote:
[leverage_of_the_jquery_of_the_CDTS.zip](https://github.com/wet-boew/cdts-sgdc/files/4155205/leverage_of_the_jquery_of_the_CDTS.zip)

Also I am not sure if you can change it, but the message copied in here did not render properly the scripts and therefore is incomplete and incorrect compared to my initial email. I reattach my email here for clarity in case you can not change

[2020-02-04 19:16] TTVXStarWake opened #59 "Formation/Discussion sur l'utilisation de la liste de distribution du CDTS"
Issue moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/139

@StdGit created the issue

Nous pourrions peut-être utiliser une liste de distribution par courriel.
https://fimsvc.hrdc-drhc.net/IdentityManagement/default.aspx
Celle-ci nous permettrait aussi d'envoyer des notifications pour le calendrier.
La liste sur https://www.gcpedia.gc.ca/wiki/Solution_de_gabarits_

[2020-02-04 19:17] MaximMartel commented on #59
@shawnthompson commented:

Next release we will send the regular [release email](https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/wikis/email.release) to notify people of changes, then advise people that it will be the last email we will be sending out and that iot will be their responsibility to "watch" our project to see when changes are made and releases are done.

![](https://gccode.ssc

[2020-02-04 19:35] TTVXStarWake opened #60 "Traduire le site GCcode en Français"
Move from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/138

@StdGit created the issue

Traduire le site GcCode en Français en commençant par les Wiki

[2020-02-04 19:35] MaximMartel commented on #60
@shawnthompson commented:

If there are any takers... no objections by me.

[2020-02-04 19:46] TTVXStarWake opened #61 "wb-ready.wb event not triggering 30% of time in chrome"
Move from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/137

@StdGit created the issue

Lee, Jimmy Wing-Chuen JimmyWing-Chuen.Lee@tc.gc.ca
Faire un suivi au client d'ici le 2020-01-27

Hi,

We are using CDTS v4.0.30.  We have noticed that the wb-ready.wb event in the code below is not triggering consistently in the Chrome browser, only about 30% of time fired:

![image](ht

[2020-02-04 19:49] MaximMartel commented on #61
@shawnthompson commented:

@StdGit , Any updated on this?

[2020-02-05 18:39] MaximMartel opened #62 "Translate Gccode interface in french / Traduire l'interface de Gccode en Français"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/136

@StdGit created the issue

https://docs.gitlab.com/ee/development/i18n/index.html#translate-gitlab-to-your-language

À fin que les unilingues francophones puissent facilement utiliser Gccode (GitLab), il faudrait que celui-ci soit traduit.

Ce changement selon moi devrait être effectué avant que nous indiquions

[2020-02-05 18:40] MaximMartel commented on #62
@shawnthompson commented:

This is where you should open a ticket. I searched and there wasn't any issue already opened, surprising.

[2020-02-05 18:41] MaximMartel commented on #62
@s-laugh commented:

You can change the language in your profile settings. https://docs.gitlab.com/ee/user/profile/preferences.html#language

If translations are missing or incorrect, you can submit changes for them https://translate.gitlab.com/

[2020-02-05 18:41] MaximMartel commented on #62
@StdGit commented:

Thx it helps a lot.

[2020-02-05 18:42] MaximMartel commented on #62
@shawnthompson commented:

@StdGit if that answers your question please close this issue.

[2020-02-06 11:58] jonnorth commented on #49
Any Update on this? We need the ability to open links in a new window.

Here are the details from attached zip file:
We are currently updating from CDTS version 4.0.29 to v4.0.32 and noticed an issue where links that have an attribute target=””_blank” no longer open in a new window/tab.

This is for an MVC application using the latest version 2.02 of the GoC .NET Webtemplate.
For example this is o

[2020-02-06 14:43] MaximMartel opened #63 "Add default in documentation and template"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/135

@StdGit created the issue

We should define default value for the variables we use:

[2020-02-06 14:44] MaximMartel commented on #63
@shawnthompson commented:

I agree. Move to [Documentation](https://github.com/cenw-wscoe/sgdc-cdts).

[2020-02-06 14:49] MaximMartel opened #64 "Verify if it is possible to change the warning window in exitScript for a Modal window"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/133

@StdGit created this issue

https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32/cdts/samples/exitscript-en.shtml

[2020-02-06 14:57] TTVXStarWake opened #65 "GCWeb: AppTop: Skip to footer"
Issue moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/132

@shawnthompson opened the issue

When in mobile view the skip to link doesn't have a skip to About this application link but the footer is still there

[2020-02-06 15:11] TTVXStarWake opened #66 "Dans apptop Ajouter plus d'information pour voir l'exemple sur la fonctionnalité"
Issue moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/130

@StdGit created the issue

https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32/cdts/appTop/refFooter_exitscript-fr.shtml
![image (3)](https://user-images.githubusercontent.com/3074084/73949667-b83ebd80-48c8-11ea-8295-f1185668eba2.png)

[2020-02-06 15:12] MaximMartel commented on #66
@shawnthompson commented:

Should be moved to the [Documentation](https://github.com/cenw-wscoe/sgdc-cdts) project

[2020-02-06 15:20] MaximMartel opened #67 "Vérifier dans appfooter_transactional-en.shtml"
Issue moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/129

@StdGit created the issue

https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32/cdts/appTop/appfooter_transactional-en.shtml

Vérifier si les links sont modifiables, si oui changer l'exemple

![1](https://user-images.githubusercontent.com/3074084/73950634-3cde0b80-48ca-11ea-9bb2-135522580591.png)

[2020-02-06 15:21] MaximMartel commented on #67
@shawnthompson commented:

Juste les liens some modifiables pas le texte. Please close if this answers your question.

[2020-02-06 15:50] MaximMartel opened #68 "In IE11 apptop_all-fr.shtml (english is ok) the gray band in the footer should be full screen"
Issue moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/128

@StdGit created the issue

https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32/cdts/appTop/apptop_all-fr.shtml
FireFox and Edge are ok

See image
Probably something with `div class="brand"`

![2](https://user-images.githubusercontent.com/3074084/73953460-6ac54f00-48ce-11ea-8951-51a02715a55e.png)

[2020-02-06 16:15] MaximMartel opened #69 "GCIntranet: Breadcrumbs default"
Move from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/127

@shawnthompson created the issue

Should the breadcrumbs have a default home like GCWeb?

https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_32/cdts/appTop/appname-fr.shtml

GCIntranet doesn't

[2020-02-06 16:33] TTVXStarWake opened #70 "GCIntranet: No Search variant"
Issue moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/126

@shawnthompson created the issue

When there's no search the language link should align to the right

![4](https://user-images.githubusercontent.com/3074084/73957480-69972080-48d4-11ea-8d84-99a0555e7cf2.png)

https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_32/cdts/appTop/apptop_nosearch-fr

[2020-02-06 16:59] TTVXStarWake opened #71 "GCIntranet at small view"
Issue moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/125

@shawnthompson created the issue.

When you resize the window to small view, the GCTools list of links drop (expected) but the search and language link doesn't line up to the right (they should)

https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_32/cdts/appTop/refFooter_exiturl-en.shtml

![5

[2020-02-06 17:05] MaximMartel opened #72 "Modifier le texte de la page exiturl-en-fr.shtml pour indiquer que cette page fonctionne avec exitScript"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/123

@StdGit created this issue

[2020-02-06 17:05] MaximMartel commented on #72
@shawnthompson commented:

@StdGit Please add more detail

[2020-02-06 17:16] MaximMartel opened #73 "Add an example that demonstrate how to send the url of the page as a parameter when we click contact us"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/122

@StdGit created this issue

This issue is important, because if we miss something during the testing it will be really helpful to receive info from the users. We should be like Amazon. (Facilitate the process for what we want.)

[2020-02-06 17:41] MaximMartel opened #74 "Redo Architecture Samples / apptop"
Issue moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/113

@StdGit created this issue

Write a single file for samples / apptop with variables and perhaps for GcWeb/GcIntranet (Or standardize call)

For French/english perhaps we can use json file or i18n

Doc Should be embedded in sample.

[2020-02-06 17:41] MaximMartel commented on #74
@shawnthompson commented:

Move this to [document repo](https://github.com/cenw-wscoe/sgdc-cdts)

[2020-02-06 19:23] MaximMartel opened #75 "Verify &nbsp in code"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/107

@StdGit created the issue

Some &nbsp (space) could interfere with ie rendering

We must check to remove them

[2020-02-07 15:08] TTVXStarWake opened #76 "subtheme-iservice-en/fr Unmatched end tag"
Issue moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/106

@StdGit created the issue

http://gcintranet/app/cls/WET/gcintranet/v4_0_32/cdts/samples/subtheme-iservice-en.shtml http://gcintranet/app/cls/WET/gcintranet/v4_0_32/cdts/samples/subtheme-iservice-fr.shtml

[2020-02-07 15:09] MaximMartel commented on #76
@shawnthompson commented:

Can we get more information about this issue?

https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_32/cdts/samples/subtheme-iservice-en.shtml https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_32/cdts/samples/subtheme-iservice-fr.shtml

Those pages validate?

[2020-02-07 15:10] MaximMartel commented on #76
@shawnthompson commented:

@StdGit  What do you mean by Unmatched end tag?

[2020-02-07 15:16] MaximMartel opened #77 "server.shtml Unmatched end tag"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/105

@StdGit created the issue

https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32/cdts/samples/server.shtml

[2020-02-07 15:17] MaximMartel commented on #77
@shawnthompson commented:

@StdGit  can you please give more detail for this issue?

[2020-02-07 15:19] TTVXStarWake opened #78 "remove "appSettings": [{"href": "#"}], from apptop_signin_custommenu-en.shtml"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/104

@StdGit created the issue

"appSettings": [{"href": "#"}],

https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_31/cdts/appTop/apptop_signin_custommenu-en.shtml

[2020-02-07 15:20] MaximMartel commented on #78
@shawnthompson commented:

@StdGit Why would we want to do this? Don't we need the `"appSettings": [{"href": "#"}]` in the example?

[2020-02-07 15:30] MaximMartel opened #79 "Verify / Replace links that use HTTP instead of HTTPS"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/96

@StdGit created the issue

Verify / Replace links that don't use HTTPS

[2020-02-07 15:31] MaximMartel commented on #79
@shawnthompson commented:

@StdGit Is this still a problem?

[2020-02-07 15:34] MaximMartel opened #80 "Intranet: Error message: Canada FIP link"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/93

@shawnthompson created the issue

Remove the link from the Canada FIP logo top left of template

[2020-02-07 15:34] MaximMartel commented on #80
@shawnthompson commented:

Not sure what this is

[2020-02-07 15:35] MaximMartel commented on #80
@shawnthompson commented:

Maybe instead creating a GCIntranet biligual error page without the Canada FIPs

https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_32/cdts/samples/server.shtml

[2020-02-07 15:39] TTVXStarWake opened #81 "Separate GCIntranet from GC Web"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/91

@nicolasraymond created this issue

Also fix the footer who looks horrible.

[2020-02-07 15:40] MaximMartel commented on #81
@shawnthompson commented:

thanks for the details!

https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_30/cdts/appTop/appfooter_footersections_esdc-en.shtml

![7](https://user-images.githubusercontent.com/3074084/74042826-42088c80-4996-11ea-8ec2-91446ec921c9.png)

[2020-02-07 15:41] MaximMartel commented on #81
@nicolasraymond commented:

didn't want you to bleed from the eyes

[2020-02-07 15:45] MaximMartel opened #82 "200% resize"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/86

@nicolasraymond created the issue

At 200%, the intranet theme doesn't look good. Overlapping text in the header and split columns in the footer.

https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_28/cdts/samples/content-en.shtml

[2020-02-07 15:45] MaximMartel commented on #82
@shawnthompson commented:

This will need to be fixed by TBS on intranet.canada.ca

[2020-02-07 16:06] MaximMartel opened #83 "Review ContactLink inner workings"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/81

@StdGit created the issue

### The Problem

Currently there is some confusion as to how the `ContactLink(s)` works in the different environments (AKAMAI, PROD_SSL, ESDC_PROD) and templates (Standard, Application, Transnational).

### The Solution
We need to decide how `ContactLink(s)` should work as a standard an

[2020-02-07 18:54] MaximMartel commented on #83
@shawnthompson commented:

My suggestion is custom footer link in the application template and custom contact links. Also adding the option to open in a new window option in contact links.

I got this to work in the app template:

[code]

![9](https://user-images.githubusercontent.com/3074084/74057157-4f7f4000-49b1-11ea-8203-e9a4f4f0f1d0.png)

In the GCWeb template, I would suggest leaving it as i

[2020-02-07 18:55] MaximMartel commented on #83
@StdGit commented:

@shawnthompson  by GCWeb template, do you mean AKAMAI environment?
If so, even in the Application template?

[2020-02-07 18:57] MaximMartel commented on #83
@shawnthompson commented:

@StdGit , GCWeb is the Canada.ca template which is hosted on the Akamai. The Application template, we call AppTop, which is also hosted on Akamai. We host both version on Akamai as well as our internal ssl-templates.services.gc.ca servers but I think the push is for everyone to use the Akamai server due to it's CDN capabilities.

[2020-02-07 18:57] MaximMartel commented on #83
@StdGit commented:

There is too many words in the CDTS/DotNet/Java templates that have dual meanings... we need some kind of reference map to it all... (another issue for later)

If we don't let them change the text, then we should also only let them add one link, not a list, otherwise what will be the text of the extra links.

[2020-02-07 18:57] MaximMartel commented on #83
@shawnthompson commented:

I thought on the application template, we let them change the text and the URL, on the GCWeb template we only let them change the link (which I don't know if I agree with).

I need to figure out how to create an array without using a `for` statement in Google Closure...

[2020-02-07 19:02] MaximMartel commented on #83
@shawnthompson commented:

@StdGit , does your merge close this issue?

[2020-02-07 19:05] TTVXStarWake opened #84 "Removal of SRI for jQuery scripts"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/78

@shawnthompson created this issue

We are having issues with jQuery and the SRI SHA. So I removed them for now when I updated the jQuery versions to match WET. I will add them back once we figure out the issue.

[2020-02-07 19:07] MaximMartel opened #85 "Change bypass block colour"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/75

@nicolasraymond created this issue

[2020-02-07 19:08] MaximMartel commented on #85
@shawnthompson commented:

Email sent to Lavoie, Éric \[TBS-SCT\] [Eric.Lavoie@tbs-sct.gc.ca](mailto:Eric.Lavoie@tbs-sct.gc.ca) to request the change

Eric,

Could you look into changing the colour of the skip to navigation link when they receive focus. They are still using the default Canada.ca colours.

![11](https://user-images.githubusercontent.com/3074084/74058120-5909a780-49b3-11ea-96dd-3356

[2020-02-07 19:22] MaximMartel opened #86 "Google Analytic inline script element, security issue"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/74

@shawnthompson created the issue

By adding the Google Analytics (#63 (closed)) code we broke security policy and need to find a way to hash out the code we injected.
Email from Stephane Gouin:
From: Gouin, Stephane S [NC]
Sent: June-05-18 9:15 AM
To: Thompson, Shawn S [NC]
Cc: Petkovic Misic, Biljana B [NC]; Ma,

[2020-02-07 19:35] MaximMartel opened #87 "GCWeb: English Server page: Console Error"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/67

@shawnthompson created the issue

This page is giving an error in the console but the French version is not.

TypeError: defPreFooter is null

https://ssl-templates.services.gc.ca//app/cls/WET/gcweb/v4_0_28/cdts/samples/server-en.shtml

[2020-02-07 19:43] MaximMartel opened #88 "AppTop: CDTS v4.0.26.3 small magnifying glass (Search icon)"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/62

@shawnthompson created this issue

Email
From: Yamamoto, Yuko [mailto:yuko.yamamoto@tc.gc.ca]
Sent: March-16-18 11:37 AM
To: NC-SGDC-CDTS-GD
Subject: CDTS v4.0.26.3 small magnifying glass (Search icon)

Hello,

We are using CDTS v4.0.26.3. It seems that there is an issue on the Search option.

When a browser is m

[2020-02-07 19:45] MaximMartel commented on #88
@shawnthompson commtend:

Created a test page on SSL server and it's not doing the same

https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_27/cdts/appTop/apptop_search_test.shtml

Email send on April 18, 2018

Problem with the .Net templates

https://gccode.ssc-spc.gc.ca/GOCWebTemplates/DotNetTemplates/issues/197

`customSearch` variable but defined and when it uses anything but `test` t

[2020-02-10 14:44] MaximMartel opened #89 "GCIntranet: ESDC: Activities and initiatives"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/61

@shawnthompson created the issue

Create a file that the Intranet team can update the Activities and initiatives themselves.
Contacts:

* Tang, Qinying Q [NC] qinying.tang@hrsdc-rhdcc.gc.ca
* NC-CS-SC-PFOLIO-WEB-WEB-MINIST-INTRANET-GD NC-CS-SC-PFOLIO-WEB-WEB-MINIST-INTRANET-GD@hrdc-drhc.net

Contact at TBS: Lavoi

[2020-02-10 14:53] MaximMartel opened #90 "GCWeb: Exit script"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/59

@shawnthompson created the issue

They claim that this is preventing them of tracking the yes button.

https://gccode.ssc-spc.gc.ca/edsc-esdc-centre-expertise/sgdc-cdts/blob/master/app/cls/WET/gcweb/v4_0_28/cdts/exitScript-opt-nomin.txt#L91

[code]

# Email

From: Haase, Dainton
Sent: February-13-18 2:48 PM
To: R

[2020-02-10 16:13] MaximMartel opened #91 "GCWeb: Mega menu"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/58

@shawnthompson Created the issue

PP talks about no longer supporting the cdn of the mega menu.

Look out for it!

We still need to watch out to make sure Principle Publisher still supports the Canada.ca CDN for the main menu.

[2020-02-10 16:17] MaximMartel opened #92 "GCWeb: URL Mapping working example"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/55

@shawnthompson created the issue

## Email received

[code]

[2020-02-10 17:54] MaximMartel opened #93 "Exhaustive list of JSON objects?"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/sgdc-cdts/sgdc-cdts/issues/15

Greg Baker created the issue

I'm wondering if there is a list of all JSON objects used by CDTS and their properties anywhere that I can reference. For example, when I call ```wet.builder.appTop({ .. })```, I'd like to know all of the possible properties that can be passed in (ex: ```appName```, ```breadcrumbs```, ```si

[2020-02-10 17:55] MaximMartel commented on #93
@shawnthompson commented:

They can be found in the *great* GCPedia documentation we put together, which needs to be simplified.

http://www.gcpedia.gc.ca/wiki/Centrally_Deployed_Templates_Solution_(CDTS)

I like the idea of creating a JSON of all the options, if you have the time to put something together and share it with us, that would be very much appreciated.

[2020-02-10 17:55] MaximMartel commented on #93
Greg Baker commented:

Thanks @Shawn.Thompson. I have looked at that page and did see some of the available options, but I wasn't sure if the list was exhaustive. Also, it doesn't specify what *values* are allowed for the options.

Example from linked documentation (notice no listed values):

I took a look at the [JavaTemplates](https://gccode.ssc-spc.gc.ca/iitb-dgiit/sds/GOCWebTemplates/JavaTempl

[2020-02-10 17:56] MaximMartel commented on #93
@shawnthompson commented:

We need to update the documentation but too many priorities at the moment keeps pushing it back, plus GCPedia sucks.

We are moving the documentation to [a repo on github.com](https://github.com/cenw-wscoe/sgdc-cdts/tree/gh-pages/docs) to make it available to those who can't access GCPedia (contractors).

Not ready for prime: https://cenw-wscoe.github.io/sgdc-cdts/docs/i

[2020-02-10 17:56] MaximMartel commented on #93
Greg Baker commented:

Cool.. I like it.

One final question: is there a non-minified version of CDTS anywhere that can be referenced (I don't see it on github)? I can extract what I need from the source. I could probably do it using the minified version but that would be less-than-fun.

[2020-02-10 17:56] MaximMartel commented on #93
@shawnthompson commented:

@gregory.j.baker no it's still a closed source project for now.

[2020-02-10 18:20] MaximMartel opened #94 "Support for client-side frameworks"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/sgdc-cdts/sgdc-cdts/issues/14

Greg Baker created the issue

Lately it seems that our clients are asking for more ambitious user interfaces than what we have been offering. Some of the stuff they want is incredibly difficult to write from scratch using vanilla JS/ECMA.

I've experimented with getting CDTS working with Angular, but the process to get

[2020-02-10 18:21] MaximMartel commented on #94
@shawnthompson commented:

@gregory.j.baker we have no plans on supporting any other JS library at this time. We are working on optimizing CDTS and making open source so in the future if you'd like to collaborate and help us support different libraries that would be awesome.

[2020-02-10 18:21] MaximMartel commented on #94
Greg Baker commented:

I am interested in creating an Angular module, perhaps. Or maybe a module using one of the other frameworks I've mentioned.

We have some Angular experience on our team (a couple of developers), so maybe we can create a prototype as a starting point.

[2020-02-10 18:24] TTVXStarWake opened #95 "One Property with multiple usages `footerSections`"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/sgdc-cdts/sgdc-cdts/issues/13

@StdGit created the issue

The Property ``footerSections`` actually has 2 usages, a list of links or a list of footer sections.
This makes programming for this feature really difficult.

Could the usage for a list of links have the property name changed to ``footerLinks`` or something else that identifies the difference

[2020-02-10 18:24] MaximMartel commented on #95
@shawnthompson commented:

We did this so it would be backwards compatible. If we didn't keep the same name the old logic would have broken for anyone who used it.

Let's have a look and discuss this.

[2020-02-10 18:25] MaximMartel commented on #95
@StdGit commented:

With JS it doesn't matter as much how a property is used because they aren't usually strongly typed, even if it is bad practice.
When using other languages that are strongly typed this adds a lot of complexity to make it work. You can see all the changes I made here in the DotNetTempaltes https://gccode.ssc-spc.gc.ca/iitb-dgiit/sds/GOCWebTemplates/DotNetTemplates/merge_requests

[2020-02-10 18:40] MaximMartel opened #96 "Property name not standardized `CustomFooterLinks`"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/sgdc-cdts/sgdc-cdts/issues/12

@StdGit created the issue

The property CustomFooterLinks isn’t in cammelCase.

If it could be fixed, that would be great. If not, this lets others know why they might be having trouble.

[2020-02-10 18:41] MaximMartel commented on #96
@shawnthompson commented:

Thanks for letting us know, we will correct this to `customFooterLinks`

[2020-02-10 19:24] TTVXStarWake opened #97 "Allow for the "Account Settings" label in the application template to be overriden via a parameter"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/sgdc-cdts/sgdc-cdts/issues/11

Stephane Gouin created the issue

Clients have requested to have this label changed to something else, so we'd like a supported way of configuring this label via the CDTS configuration parameters in the appTopParams

[2020-02-10 19:24] MaximMartel commented on #97
@shawnthompson commented:

@StdGit Let's work on this for next release

[2020-02-10 19:28] MaximMartel opened #98 "Loading templates from localhost"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/sgdc-cdts/sgdc-cdts/issues/10

Greg Baker created the issue

It would be nice if there was a CDTS variant that can be loaded directly from localhost. With all of the network issues lately, I've had requests to canada.ca take 20 minutes __or more__. As you can guess, this is making my life incredibly difficult. I've only been able to make four edits t

[2020-02-10 19:28] MaximMartel commented on #98
@shawnthompson commented:

I agree! Stay tuned!

[2020-02-10 19:31] MaximMartel opened #99 "Move under the WET org?"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/sgdc-cdts/sgdc-cdts/issues/7

@nschonni created the issue

I believe this has been raised before, but is there a reason this is being done on GC Code rather than GitHub.
It's been mentioned on some of the other issues that people still post the Issues to WET or the GCWeb theme since they assume the issue lays there.

I can understand that maybe there

[2020-02-10 19:32] MaximMartel commented on #99
@nschonni commented:

Related https://gccode.ssc.gc.ca/ssc-innovation-group/ssc-gitlab-pilot/issues/57

[2020-02-10 19:32] MaximMartel commented on #99
@shawnthompson commented:

Fixed your link: https://gccode.ssc-spc.gc.ca/ssc-innovation-group/ssc-gitlab-pilot/issues/57

[2020-02-10 19:34] MaximMartel opened #100 "Browser back button issues new request back to server since version 4.0.25+ instead of use browser cached version"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/sgdc-cdts/sgdc-cdts/issues/3

Hanwen Cai created the issue

We experienced an issue with the browser back button when trying to upgrade to CDTS version 4.0.25+. Our web app let user enter search criteria in a web form that issues a POST request back to our server which then returns a search result page with a list of items and the users can click on

[2020-02-10 19:35] MaximMartel commented on #100
@shawnthompson commented:

Hello @hcai, would you have a working example of this problem?

CDTS wouldn't have an affect on the back button. Could be a WET problem.

I tried to find something in WET but all I found was that they added URL mapping functionality, I'm wondering if this has any effect on the back button?

http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/ajax-en.html

[2020-02-10 19:35] MaximMartel commented on #100
Hanwen Cai commented:

Hello @ShawnThompson,

I just put an example on our Dev server temporarily. You could access it by URL https://health-products-dev.hres.ca/dpd-bdpp/index-eng.jsp

You could also compare the difference with our current PROD version https://health-products.canada.ca/dpd-bdpp/index-eng.jsp

The Dev version is simply an upgrade to CDTS 4.0.27 while the PROD version is 4.0.24 wit

[2020-02-10 19:36] MaximMartel commented on #100
@shawnthompson comment:

@hcai, Thanks I'll take a look at it sometime this week. Hopefully we can find the problem.

Stay tuned!

[2020-02-10 19:36] MaximMartel commented on #100
Hanwen Cai commented:

Hello @ShawnThompson

Have you got chance to look at the this and figure out what part of the JavaScript causes the issue? If not, do you have any idea how long you need it as we will have to use our Dev server to test a future release later on. BTW, I noticed our apps on the Dev server sometimes gives 504 timeout. In case you get that error, you can send me an email and I'l

[2020-02-10 19:37] MaximMartel commented on #100
Hanwen Cai commented:

Any updates on this? We have to release a new version of our web application and the previous example is no longer available now.

[2020-02-10 19:37] MaximMartel commented on #100
Eric Gagon-Munger comment:

Hi @hcai, do you think we can access to the dev again? I have tested in my side and the back button is working well on IE and Firefox. I would like to see on your dev server to be sure.

Regards, Eric

[2020-02-10 19:37] MaximMartel commented on #100
Hanwen Cai commented:

Hi @kawish7, sorry, we published a new version on our dev server for our client to test and we have to fix the back button issue in our Java code to call and search the database again. The page no longer throws an error but if you use any of the network traffic tools, you may see that when you use back or forward button, it's not using the cached POST request, but issued a n

[2020-02-10 19:40] TTVXStarWake opened #101 "Structure of CDTS/WebTemplates projects going forward"
Moved from GCCode: https://gccode.ssc-spc.gc.ca/sgdc-cdts/sgdc-cdts/issues/2

Calvin Rodo created this issue

I'm creating this project to discuss how we are going to move forward with a potential single group for CDTS/WebTemplate Types
One of my plans is to split the WebForms and MVC into two seperate projects see:
https://gccode.ssc-spc.gc.ca/GOCWebTemplates/DotNetTemplates/issues/161
https://gc

[2020-02-10 19:40] MaximMartel commented on #101
Pierre Lupien commented:

As discussed a bit yesterday, that seems like a lot of projects to me... I am concerned about having all those separate issue trackers, having to re-define stuff like milestones, or having to tag all the projects separately upon release. There is also the fact the projects are kind of co-dependant (at least in Java, although I'm minimizing that more and more) and so pulli

[2020-02-10 19:44] nschonni commented on #99
Think this one can be closed now that you've migrated

[2020-02-10 19:45] #99 closed

[2020-02-17 20:06] StdGit commented on #49
Some information about this issue.

1-) Redirection to another site didn't work before, it's why we had a bug. It was handled manually by the redirection page with response.redirect. or other techniques. CDTS didn't manage it.

2-)

No it doesn't. Only the redirection was implemented. The feature to be able to open the link into another window wasn't. You could have more information in the WEB abo

[2020-02-17 22:43] StdGit opened #102 "mega-menu is not keyboard accessible"
Hey Martin,

No I’m no longer with the CDTS project but I’ve cc’d the generic mailbox for those who are.

This issue has something to do with the intranet template coming from TBS.

Feel free to open an issue on the CDTS project.

https://github.com/wet-boew/cdts-sgdc/issues

Shawn Thompson
Conseiller technique en accessibilité Web | Web Accessibility Technical Advisor
Accessibilité TI / DGIIT | I

[2020-02-18 13:42] mrobitaille07 commented on #102
Hello, if you load any pages on our Intranet site, if we use the keyboard Tab key, we can't access any links on the mega-menu.

Let me know if you can look into it... thank you!
http://esdc.prv/en/index.shtml

[2020-02-18 16:39] StdGit opened #103 "Templates for iService and CRT.prt not available"
In working with Remi,

It looks like occasionally they don’t get the templates for iService and CRT.prt
Why would the template fail to render for them so frequently?
There appear to be multiple tickets that were sent to NHQ-CRT.R3

Remi also indicated that the problem has worsened
“ since our HCCS/Genesys/Voip migration back in may
and this system does take a lot of bandwitdth
also, 7004382  “ and

[2020-02-20 20:57] nicolasraymond commented on #84
ffff

[2020-02-20 21:00] nicolasraymond commented on #84
A little history about removal of the SRI.

The issue is here:

https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/issues/78

What was happening is that something what changing the line ending when we would be moving it to Canada.ca and the hashes wouldn’t be the same.

Pierre fixed this and I will test it, why I write this email.

I will test it for you. How I’ll be doing this if I got to th

[2020-02-24 13:34] nicolasraymond opened #105 "Search icon in mobile view"
If search is set to false, the search icon should not be there in mobile view.

[2020-02-24 13:34] nicolasraymond commented on #105
In our application we don’t have a search bar, but when you switch to mobile view we get the search button (highlighted in the image below). Can this be disabled through the template?

Gaétan Tauvette

Programmer Analyst, Service Management
Transport Canada / Government of Canada
mailto:gaetan.tauvette@tc.gc.ca/ Cel: 613-462-1099 / TTY: 1-888-675-6863

Programmeur analyste, Gestion des services
Tr

[2020-02-24 13:34] nicolasraymond commented on #105
![image](https://user-images.githubusercontent.com/13963113/75156628-7ee7b980-56e0-11ea-9234-c361d489a519.png)

[2020-02-27 16:43] ipaksc commented on #102
Hi Martin: To fix the issue. You have to find another way to hide GCTools information.

An element is focusable if none of its ancestors are display: none, therefore GCTools anchors <a> are not focusable.

The issue is not related to CDTS template.

[2020-02-27 16:44] #102 closed

[2020-02-28 15:42] ipaksc commented on #105
I tested CDTS versions v4_0_27 to v4_0_32. There was a minor issue with hiding the search button in mobile view.

The issue was fixed in v4_0_31. The issue the client has on his page is not related to the template. I recommended to upgrade the template to v4.0.32, since we are supporting only three last versions. I provided recommendations how to fix the issue, with search button in mobile view. I

[2020-02-28 15:42] #105 closed

[2020-03-02 14:11] ipaksc commented on #96
The issue was fixed in v4.0.30

[2020-03-02 14:11] #96 closed

[2020-03-02 15:49] shawnthompson commented on #89
I will be closing this. The initiatives have been removed.

[2020-03-02 15:49] #89 closed

[2020-03-02 18:38] jonnorth commented on #49
@ipaksc Do we have a date yet when fix this will be released? Thanks

[2020-03-04 18:21] ipaksc commented on #49
@jonnorth I think in April...

[2020-03-05 14:26] ipaksc commented on #75
@StdGit Could you provide an example? I can check it...

[2020-03-05 17:30] s-laugh opened #107 "Language interpolation fails scripts loading"
When loading a page with the `lang="en-CA"` set, CDTS trys to load scripts that don't exist.

I had set the default language attribute to `en-Ca` on my page in the `html` element like:
[code]

Which ended up returning this issue:

GET - https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/js/i18n/en-Ca.min.js

Which causes features in WET to stop working.

I think it would make sense to hav

[2020-03-08 23:57] nschonni commented on #77
http://validator.w3.org/nu/?doc=https%3A%2F%2Fssl-templates.services.gc.ca%2Fapp%2Fcls%2FWET%2Fgcweb%2Fv4_0_32%2Fcdts%2Fsamples%2Fserver.shtml

Has the following errors
[code]

[2020-03-08 23:59] nschonni commented on #76
Neither page validates
https://validator.w3.org/nu/?doc=http%3A%2F%2Fwww.gcintranet.com%2Fapp%2Fcls%2FWET%2Fgcintranet%2Fv4_0_32%2Fcdts%2Fsamples%2Fsubtheme-iservice-en.shtml
https://validator.w3.org/nu/?doc=http%3A%2F%2Fwww.gcintranet.com%2Fapp%2Fcls%2FWET%2Fgcintranet%2Fv4_0_32%2Fcdts%2Fsamples%2Fsubtheme-iservice-fr.shtml

[2020-03-09 00:08] nschonni opened #108 "Project is marked as a GitHub template"
GitHub template projects are intended as base git repositories when someone is creating a new repository. The content in this repo doesn't appear to be a good fit for that.

https://help.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-template-repository

[2020-03-09 00:13] nschonni commented on #62
@MaximMartel this was related to translating GitLab, and since this isn't hosted there anymore, it should probably get closed. GitHub UI translations is a whole other problem ...

[2020-03-09 12:37] ipaksc commented on #82
I informed TBS (Lavoie, Éric <Eric.Lavoie@tbs-sct.gc.ca>) about this issue. Eric will send this to the web team for them to test and fix.

[2020-03-09 13:01] ipaksc commented on #88
This ticket was opened and closed 1 year ago.
https://gccode.ssc-spc.gc.ca/iitb-dgiit/sds/GOCWebTemplates/DotNetTemplates/issues/197

[2020-03-09 13:01] #88 closed

[2020-03-09 13:20] shawnthompson commented on #108
Thanks @nschonni, I turned it off.

[2020-03-09 13:20] #108 closed

[2020-03-09 13:59] shawnthompson commented on #101
@nicolasraymond have a look at this, if you haven't seen it before.

[2020-03-09 15:04] ipaksc commented on #100
Hi @hcai. Is this still happening?

[2020-03-09 17:43] s-laugh opened #109 "Full-Width Interface Control"
Orignal issue submitted to DotNetTemplates: https://gccode.ssc-spc.gc.ca/iitb-dgiit/sds/GOCWebTemplates/DotNetTemplates/issues/234

It would be great to have a full-width option in the json requests to change the `container` class to `container-fluid` enabling a "full-screen" mode.

[2020-03-15 23:54] TeamDman opened #110 "Late re-usage of appTop doesn't load menu subLinks dropdowns"
My case:
I need to redraw the header area multiple times after page has loaded.
[code]
During the initial load, `options.menuLinks` entries with `subLinks` load properly.
Subsequent draws do not render the subLinks' dropdowns.
First:
![image](https://user-images.githubusercontent.com/9356891/76713314-25c6e080-66f6-11ea-8ea2-c9eb97929f3e.png)
Later:
![image](https://user-images.githubusercontent.co

[2020-03-16 13:56] ipaksc commented on #110
@TeamDman Hello: I cannot replicate the issue. Is it possible to see the page? What version CDTS are you using?

[2020-03-16 14:14] ipaksc commented on #107
Hello @s-laugh: The issue is outside our scope, you should report the issue to WET team.
https://github.com/wet-boew/wet-boew

[2020-03-18 16:48] ipaksc commented on #7
The pages have been moved to GitHub

[2020-03-18 16:48] #7 closed

[2020-03-18 16:50] #4 closed

[2020-03-18 17:56] #28 closed

[2020-03-19 16:34] TeamDman commented on #110
Using v4.0.32
Here's a minimal reproduction
1. Page loads, header works as expected
2. Click "Reload header", the header no longer has dropdowns (!)
3. Click "Fix header", the dropdowns reappear

[code]

[2020-03-19 16:58] TeamDman commented on #110
Preview of the issue as displayed in the demo html
![cdts](https://user-images.githubusercontent.com/9356891/77093329-34a4e000-69e1-11ea-911d-ca9f858f0fd1.gif)

[2020-03-19 17:56] ipaksc commented on #110
@TeamDman I found a few syntax errors in your code. Here is modified code, it's working in Firefox and IE:

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0" />
      <script
         type="text/javascript"
         src="https://ssl-templa

[2020-03-19 18:10] ipaksc commented on #110
@TeamDman Hi, I found a few syntax errors in your code. Here is modified code, it's working in Firefox and IE.

[code]

[2020-03-19 18:36] #82 closed

[2020-03-20 15:31] ipaksc commented on #110
@TeamDman Hi, Did you have a chance to test the page?

[2020-03-20 17:53] TeamDman commented on #110
The snip you posted has some syntax errors, namely the two `div`s used for mounting aren't closed. When fixed, the header still disappears.

[code]

[2020-03-20 18:48] ipaksc commented on #110
@TeamDman Here is the fixed code
[code]

[2020-03-20 18:52] TeamDman commented on #110
Still doesn't work when calling `applyHeader()` again via console. Note that this issue is specifically pertaining to applying the header multiple times, you've omitted both examples of that (via buttons or using `setTimeout`) in the code blocks you've posted.

[2020-03-23 12:32] s-laugh commented on #107
Since the project is under the same group, the issue could just be moved.

[2020-03-23 14:31] shawnthompson commented on #107
[Transferring an issue to another repository](https://help.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository)

[2020-03-24 12:10] ipaksc commented on #110
@TeamDman I think, it's fixed now. Please test.

[code]

[2020-03-24 14:31] ipaksc commented on #85
@nicolasraymond Hi Nicolas: The issue was fixed in v4.0.29. I will close this ticket

[2020-03-24 14:31] #85 closed

[2020-03-24 20:04] ipaksc commented on #110
@TeamDman Did you have a chance to test it?

[2020-03-25 22:06] TeamDman commented on #110
Your example does work.
I suppose the takeaway here is that expected behaviour requires manually triggering the WET timerpoke event.
Might be helpful to document this somewhere.

Thanks for the help.

[2020-03-25 22:06] #110 closed

[2020-03-30 14:47] #62 closed

[2020-03-30 15:19] StdGit commented on #64
If you look modal-popup

https://wet-boew.github.io/wet-boew/demos/lightbox/lightbox-en.html

And you click in the dark area, the window doesn’t close
in cdts it's closing. It is an enhacement...

But perhaps user prefer the way it is.

https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32/cdts/appTop/refFooter_exitscript-en.shtml
https://ssl-templates.services.gc.ca/app/cls/WET/gcintrane

[2020-04-14 17:04] TeamDman opened #116 "CDTS font errors in console, rejected by FireFox"
![image](https://user-images.githubusercontent.com/9356891/79252643-f8ce3080-7e4f-11ea-9c03-4b4e0334768a.png)
[code]
Glyphicons are still working in my app at least, but the console warnings are annoying...

Potentially relevant:
Proxy misconfiguration causing fonts to raise errors
https://github.com/ember-cli/ember-cli/issues/1532

[2020-04-16 19:14] s-laugh opened #117 "Join Slack"
Maintainers from this project should join the slack channel (https://gcdevopsleague.slack.com/archives/CLMM06L15) as it's dedicated to the GoCWebTemplates and **CDTS**.

A chunk of the user base is using slack to communicate/troubleshoot problems and feature suggestions. It's also been a method to keep the developers of GoCWebTemplates up to date ensuring latest features are made available through

[2020-04-28 14:42] ghost-girl opened #119 "Canada.ca "Home" breadcrumb"
I was just wondering if you are currently in the works of renaming the Canada.ca "Home" breadcrumb to instead say "Canada.ca"? Our clients have notified us that this is the new standard, but haven't seen this updated in the CDTS template yet.

Thanks!

[2020-04-28 19:39] s-laugh opened #120 "Canada.ca breadcrumb should remain even when adding additional breadcrumbs"
Issue open under the DotNetTemplates: https://gccode.ssc-spc.gc.ca/iitb-dgiit/sds/GOCWebTemplates/DotNetTemplates/issues/366

**Summary**: The root breadcrumb should remain when adding additional breadcrumbs.

**_Expanded (text from issue link above)_**
Is there any intention of having the Canada.ca "Home" breadcrumb stay at the beginning of the breadcrumb list even when adding additional breadcru

[2020-05-04 12:53] StdGit opened #122 "Check if CDTS could run on linux and other os , safari, android etc."
Check if CDTS could run on linux and other os , safari, android etc.

Since canada.ca is rewriting in lower case, it could be lead to some error

Click on https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32c/cdts/appTop/refFooter_exitscript-en.shtml

and then on http://csszengarden.com/219 at the bottom of the page

ref**F**ooter_exitscript-en.shtml is renamed reffooter_exitscript-en.shtml

[2020-05-04 22:48] duboisp commented on #122
the error is here where the function `toLowerCase()` is called: https://github.com/wet-boew/cdts-sgdc/blob/master/_src/js/exitScript.js#L12

I tracked down the issue, here the trace
* The test page “RefTop” – Line 121 in the source code of https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32c/cdts/appTop/refFooter_exitscript-en.shtml
  * The docs is not copied over the new github repo and i

[2020-05-05 14:40] StdGit opened #123 "GTM Google tag analytics"
I would like to know why we are using GTM

[2020-05-07 18:23] jonnorth opened #124 "Exit Script renders "true = 0;" text below the footer footer"
While testing exit script fix that was applied in the new version 4.0.32c fix #115   the fix works and links with target=”_blank” now open in a new window/tab but it looks like there is another issue where some text (true = 0;) is inserted at the bottom of the page.

For Example see the sample below at the very left bottom of the page you’ll see the text “true = 0;”
[https://www.canada.ca/etc/desi

[2020-05-07 19:23] StdGit commented on #124
Fixed in CDTS
https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32c/cdts/samples_test/exitscript-en.shtml

[2020-05-07 19:34] StdGit commented on #122
Fixed but have to be deploy on https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32c

You could test here

https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32c/cdts/apptop_test/reffooter_exitscript-en.shtml

[2020-05-13 18:00] laurencechavet commented on #58
Hi, The work around "eiort search template" to move the defRefFooter call directly below the body works well.  But is there a plan to do this in the CDTS template instead of each department to need to override the CDTS to have jquery working on our own scripts? Thanks

[2020-05-14 12:24] nicholas-ly opened #125 "Using date picker logs user out if "exitScript" is true on IE"
For v4.0.32, when using the [date picker](https://wet-boew.github.io/wet-boew/demos/datepicker/datepicker-en.html) coupled with the `wet.builder.refFooter` `exitScript` set to `true`, the `exitURL` is hit when selecting attempting to select a date in Internet Explorer 11.

The issue also occurs for v4.0.31 but not previous versions.

This issue does not occur for Chrome, Edge or Firefox.

[2020-05-15 11:49] StdGit commented on #125
Thx,

We have fixed it
You could test here
https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32c/cdts/samples_test/zzz_exitscript-datepicker-en.shtml
It will be include in the next release

[2020-05-25 18:00] #124 closed

[2020-05-25 18:10] StdGit commented on #123
@nicolasraymond

Hi Nicolas, do you know the answer?.

[2020-05-25 18:37] StdGit commented on #120
@ipaksc Could you close the issue, if everything is ok, Thx

[2020-05-25 18:39] StdGit commented on #119
@ipaksc Could you close the issue if everything is ok ?

[2020-05-25 18:46] ipaksc commented on #119
The task has been completed.

[2020-05-25 18:46] #119 closed

[2020-05-25 18:48] ipaksc commented on #120
The task has been completed

[2020-05-25 18:48] #120 closed

[2020-06-01 14:14] nicolasraymond commented on #123
We tried using GTM to know who is using the CDTS. GTM should be striped from the code.

[2020-06-02 18:49] StdGit opened #126 "add name templates.services.gc.ca"
We have to look to this issue

[2020-06-05 20:11] StdGit opened #127 "Accessibility Issue and Analytics ?"
We have integrated the CDTS into our Emergency Platform Universe Access Scripts had a few accessibility defects raised against our application

![image](https://user-images.githubusercontent.com/5129874/83918473-cbfb1300-a746-11ea-81c6-b293dae5735c.png)

Some of the items appear to be caused by the CDTS:

[2020-06-08 18:30] StdGit opened #129 "Add nav elements for"
The Canada.ca templates were changed and now wrapping the top skip to main content navigation in a nav. Should we update it in CDTS?

Does it help accessibility
Is there side effects (Check ajax inclusion)

Documentation:
(https://www.w3.org/WAI/GL/wiki/Grouping_related_links_using_the_nav_element)

Canada.ca

[code]

CDTS

[code]

[2020-06-08 18:53] StdGit opened #130 "Change link https://www1.canada.ca/en/government/about.html"
In Canada.ca, the footer link “About Canada.ca” has been updated to https://www.canada.ca/en/government/about.html

This has been fixed in https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32c/cdts/samples_test/breadcrumbs-en.shtml. We will closed the issue it when release v4_0_32c will be released.

[2020-06-08 19:02] nicolasraymond commented on #129
Accessibility is fine

[2020-06-08 19:12] StdGit opened #131 "Add descriptive Title in cdts samples"
Change generic `<title>Content page - Canada.ca</title>` for a specialized title

Ex: Title for
[https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32/cdts/samples/breadcrumbs-en.shtml](url)

will be

`<title>breadcrumbs-en</title>`

You can also change the date
`defPreFooter.outerHTML = wet.builder.preFooter({
					"dateModified": "2020-09-11"
				});`

[2020-06-08 20:33] StdGit opened #132 "Bad display of breadcrumbs in Chrome 83"
What is the display that we expect for the breadcrumbs?

See issue
https://github.com/wet-boew/wet-boew/issues/8875

[2020-06-09 14:26] laurencechavet commented on #130
Hi
I checked https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32c/cdts/samples_test/breadcrumbs-en.shtml. It seems the link "About Canada.ca" goes to https://www.canada.ca/en/newsite.html which is not the same URL than in canada.ca (https://www.canada.ca/en/government/about.html), even if it goes to the same page.
Thanks

[2020-06-09 18:25] #127 closed

[2020-06-09 18:25] nicolasraymond commented on #127
J'ai regardé et en fait le CDTS a corrigé les problèmes. J'ai répondu au client.

[2020-06-11 10:17] StdGit commented on #120
Note:
See the use case in (Cdts mailbox)
Behavior for GC Web and Application templates differs.
Ex: For GC Web template, Canada.ca is always added, even if  a link already exist
https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32c/cdts/samples/breadcrumbs-en.shtml

[2020-06-16 14:56] StdGit opened #133 "Character encoding"
On https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32c/cdts/appTop/refFooter_exitscript-en.shtml

We receive those errors

[2020-06-26 19:59] StdGit opened #134 "Questions about Developing an internal (GCIntranet) web app written in .NET Framework (using DotNetTemplates) - Migrating an app using CLFPagePlugin to CDTS"
A bit of background about the work I am trying to accomplish:
-	Developing an internal (GCIntranet) web app written in .NET Framework (using DotNetTemplates)
-	Migrating an app using CLFPagePlugin to CDTS
Issues:
1.	The old style takes up the entire screen width while the new style has a lot of white space area on the sides of the page’s main content
2.	The old style has a site menu while the new

[2020-06-26 20:28] StdGit opened #135 "FW: Une en-tête de Canada.ca plus mince pour les écrans mobiles | A slimmer Canada.ca header for mobile screens"
À vérifier avant d'implémenter la prochaine version du CDTS

Verify before implementing next version of CDTS

https://github.com/wet-boew/gcweb/releases/tag/v8.0.

[2020-06-29 18:19] StdGit opened #136 "On Google Chrome, we get a warning "A parser-blocking, cross site (i.e. different eTLD+1) script"
On Google Chrome, we get a warning "A parser-blocking, cross site (i.e. different eTLD+1) script, is invoked via document.write." for javascript reference on canada.ca

open originally in
https://gccode.ssc-spc.gc.ca/iitb-dgiit/sds/GOCWebTemplates/DotNetTemplates/-/issues/274

Should be fixed by implementing exitScript in wet-boew https://github.com/wet-boew/wet-boew/pull/8894

[2020-06-30 15:41] RubyDo opened #137 "Question: PHP templates for web applications?"
Hello,
CDTS has a .NET and Java templates for web applications. I am wondering if there are plans on making PHP templates for the application theme and possibility of partnering with other departments on making it available.

[2020-07-02 20:28] StdGit opened #138 "Verify code with #if condition (comma error)"
see https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/152

[2020-07-10 13:30] Moro-Code opened #139 "Google Tag Manager Script ?"
Hello,

I noticed that CDTS injects a google tag manager script. Is there anyway to disable this or at least get a sense of what information is being collected?

[2020-07-14 20:01] brandonandre opened #140 "Custom header navigation not generating proper ARIA menu tags"
Hello,

I am currently running on version "v4_0_32" of CDTS.

Using CDTS to generate the AppTop, I decided to use a custom navigation menu which generates the following HTML:

[code]

But looking on this page: https://cenw-wscoe.github.io/sgdc-cdts/GCWeb/appTop/apptop_all-en.html

It generates the following:

[code]

My generated HTML is missing the following attributes: `tabindex="0" aria-posinse

[2020-07-15 02:22] brandonandre commented on #140
#141 - Created a pull request

[2020-07-16 13:27] ipaksc commented on #140
@ brandonandre Hi Andre

The listed attributes is not part of CDTS template.

Here is my test page. The generated HTML has all attributes.

https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_32c/cdts/apptop_ilya/apptop_breadcrumbs-en.shtml

![Capture](https://user-images.githubusercontent.com/7250664/87675975-07293280-c746-11ea-93d6-76e0f051488f.JPG)

[2020-07-16 20:42] brandonandre commented on #140
Thanks for the quick response.

Interesting, perhaps I setup CDTS incorrectly in my project. I'm going to go through the guide on the website again and make sure I followed all the steps.

Thanks!

[2020-07-17 14:47] #140 closed

[2020-07-17 18:00] richardjpotter opened #142 "FIP no longer appearing with 4.0.27"
Last week, we noticed a few of our applications in production are no longer displaying the FIP/Canada logo.
The browser console displays the following errors:

Switching to 4_0_30 corrects the issue, but causes UI layout issues, so it's not a viable option.

For reference, here is the code we use in our web.config:

    <GoC.WebTemplate version="v4_0_27" environment="Akamai" loadJQueryFromGoogle="

[2020-07-27 19:14] StdGit opened #144 "Ajouter une section référence de liens dans la documentation"
Ajouter dans
https://cenw-wscoe.github.io/sgdc-cdts/docs/index-en.html

Les liens suivants:

Workshop resources
Web Experience Toolkit / GCWeb:
•	Web Experience Toolkit - https://wet-boew.github.io/
•	GCWeb / Canada.ca theme - https://wet-boew.github.io/themes-dist/GCWeb/index-en.html
•	Quick implementation guide - GCWeb theme - https://wet-boew.github.io/themes-dist/GCWeb/gcweb-theme/implementing

[2020-07-28 15:22] StdGit commented on #142
Hi Richard

Could you send a print screen of your issue, and specify the browser you used

Note: I don't have the error you specified in version 4_0_27 in Firefox, Do you still have the issue?

[2020-07-28 15:37] richardjpotter commented on #142
Hello,

This is the issue currently.  Note the FIP is missing, and the 3 errors in the console window.
This is in Chrome, but the issue exists in other browsers also.
[cid:image001.jpg@01D664D3.7D1B3360]

The issue presents differently in IE:

[cid:image002.jpg@01D664D3.7D1B3360]

From: StdGit [mailto:notifications@github.com]
Sent: Tuesday, July 28, 2020 11:22 AM
To: wet-boew/cdts-sgdc <cdts-sgdc

[2020-07-28 15:54] StdGit commented on #142
sites on *.ic.gc.ca. seems have the same error
The loading of “https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_25/assets/sig-blk-en.svg” in a frame is denied by “X-Frame-Options“ directive set to “SAMEORIGIN“.

And the error seems to be in wet-boew too
https://github.com/wet-boew/wet-boew/issues/5189

[2020-08-04 23:27] StdGit opened #145 "Update on Mega Menu"
L'éditeur principal souhaite apporter des changements pour le 25 juin

Un courriel leur a été envoyé pour leur dire que la date de la prochaine version du CDTS n'était pas connue.

[2020-08-06 15:08] szet0018 commented on #129
Is there an update on this issue?

Should an aria-label be added to the nav since there are multiple nav? I chose an aria-label because there is no heading for the Skip links, otherwise I would have chosen aria-labelledby="headingForSkipLinks".

E.g.
`<nav aria-label="Skip links">
<ul>
                <li href="#wb-cont">Skip to main content</a></li>
[…]
</ul>
</nav> `

[2020-08-06 15:27] szet0018 opened #146 "Unique accessible labels for nav"
This is regarding the CDTS application template.

I am getting an axe accessibility error because the nav for the menubar at Main navigation menu (id="wb-sm") and About this web application (class="col-md-10") do not have unique accessible names.

This can be resolved by adding an aria-labelledby reference on the nav to the visually hidden headings in the nav.

`<nav id='wb-sm' aria-labelledby='ap

[2020-08-07 15:04] szet0018 opened #147 "<li> elements must be contained in a <ul> or <ol> - accessibility issue on axe"
The aXe accessibility checker is reporting the following issue on the CDTS application template.

li elements must be contained in a ul or ol

**Issue description**
Ensures li elements are used semantically
Impact: serious

Element location:
.menu > li:nth-child(1)
.menu > li:nth-child(2)
.menu > li:nth-child(3)

Element source
`<li><a href="#" class="item" tabindex="0" aria-posinset="1" aria-sets

[2020-08-07 17:39] cussond123 commented on #142
Same issue with some apps at our department Indigenous Services Canada.
Refused to display 'https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_26/assets/sig-blk-en.svg' in a frame because it set 'X-Frame-Options' to 'sameorigin'.

We sent an email to NC-SGDC-CDTS-GD@hrsdc-rhdcc.gc.ca but no response.

[2020-08-11 14:26] StdGit opened #148 "Does CDN is 24/7 compliant"
EX:

![image](https://user-images.githubusercontent.com/5129874/89909207-cf829e80-dbbc-11ea-8859-e5279838a811.png)

[2020-08-11 15:29] StdGit opened #149 "Https everywhere"
We have a request to implement HTTPS everywhere

[2020-08-18 16:28] StdGit opened #150 "Accessibility fails on gcIntranet due to contrast ratio"
The intranet teams are reporting accessibility fails originating from the GC template in our CDTS  – looks like it is the contrast ratio to the departmental links in the header

[2020-08-27 15:03] StdGit opened #151 "File is not load in the footer"
Hi,
It’s about the footer include files of eadc.prv, when the footer include file is updated, it did not show the updates in esdc.prv
The includes file:
http://esdc.prv/includes/edsc-esdc_prv/wet4/fr/footer/esdcfooter-fra.html

web page:
http://esdc.prv/fr/dgsm/gace-structure-gouvernance-comites-portefeuille-edsc.shtml

would you please check the include file path?

[2020-08-27 15:10] StdGit commented on #151
This 2 errors could affect the behavior

![image](https://user-images.githubusercontent.com/5129874/91460342-b3862a80-e855-11ea-9ec3-6e56a0c4e124.png)

[2020-09-02 12:55] StdGit commented on #126
Should be done before 2020-11-16

[2020-09-02 13:46] StdGit opened #153 "Dependabot alerts in Github"
https://github.com/wet-boew/cdts-sgdc/network/alerts

This one should be prioritized:

https://github.com/wet-boew/cdts-sgdc/network/alert/package-lock.json/websocket-extensions/open

[2020-09-03 12:52] tangqinying opened #154 "esdc.prv intranet footer"
to create a variable to get the esdc.prv intranet footer file directly in the script:
"footerPath": "http://esdc.prv/includes/edsc-esdc_prv/wet4/en/footer/esdcfooter-eng.html"
"footerPath": "http://esdc.prv/includes/edsc-esdc_prv/wet4/fr/footer/esdcfooter-fra.html"

[2020-09-03 13:04] StdGit commented on #154
@tangqinying says that it is working in firefox

[2020-09-09 14:56] sarasuri opened #155 "Skip to "About government" is missing in smaller screen sizes"
Hi,

Noticed, when viewing Web pages in various smaller screen sizes that are implemented using CDTS, the 'Skip to "About government"' link is missing at the top of the pages.

[2020-09-10 14:13] StdGit opened #156 "X-Frame-Options“ directive set to SAMEORIGIN"
These errors do not occur on the production server, but we will have them on all other servers like ssl-templates.services.gc.ca
The reason is because we are loading a file from WET that resides on the production server.

09:29:24.298 The loading of “https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32c/js/i18n/en.min.js” in a frame is denied by “X-Frame-Options“ directive set to “SAMEORIGI

[2020-09-10 14:18] StdGit opened #157 "Remove unnecessary SSI Directives cdnEnv"
Our samples have a lot of this line (SSI directive)

`"cdnEnv": ""`

In Gcweb it is used only in {template .environment}, so we could remove these lines in the samples

Verify before removing it, if the environment template is not called` "{call .environment"` by the template that you are using.

**But we can't remove them in Gcintranet** since it is used in many templates like {template .appFoote

[2020-09-10 22:37] StdGit opened #158 "Server Side Include (SSI) / Java Script / Accessibility / Document.write"
CDTS is running mainly on 2 servers.

Canada.ca doesn't support SSI
ssl-templates.services.gc.ca support some SSI Directives

SSI is used in 3 different ways:

1-) To choose the environment server
`
		<script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32c/cdts/compiled/soyutils.js"></script>`

2-) To allow a fall-back with static file when Javascript is disabled
``

3-) To allow

[2020-09-11 12:21] shawnthompson commented on #158
I think you should get rid of the SSI conditions in your sample files.

``

Focus on using the `local` variant `<script src="../compiled/soyutils.js">`

The long debate of supporting no JavaScript has been going on for almost a decade now. I'll leave that up to your team to decide. If you choose to stay with the fallback files, I wouldn't put the sample files on any server (including Canada.ca and

[2020-09-11 15:03] StdGit commented on #156
@duboisp Are you aware of this issue?
I think it is similar to: https://github.com/wet-boew/wet-boew/issues/6653

From what I see our SSL servers is configure with
X-Frame-Options | SAMEORIGIN

I will ask to our server teams to confirm that.

[2020-09-11 15:18] duboisp commented on #156
Yes I am aware that we configured the X-Frame-Options http header to same origin on canada.ca. I think also I sent to CDTS team a notification about that too.

However, the CORS is configured to allow the file to be pulled with an AJAX call.

What is your use case to load JS or any file through an iframe?

[2020-09-11 15:27] StdGit commented on #156
@shawnthompson Do we have one?

[2020-09-18 18:29] jeanbenoitrochon opened #159 "The href tag in the French version is missing the “#’ in the menuLinks in appTop"
The href tag in the French version is missing the “#’ in the menuLinks in appTop

Snippet from email received from client:

**_issue reported on past versions 4.0.31, 4.0.32 were breaking their menus and they reverted to 4.0.30_**

...

**_problem with generating custom menus at the top of the page using the menuLinks in appTop.  There is a problem when I switch to French.

In the CDTS code there

[2020-09-20 18:05] StdGit commented on #158
I also recommend to remove SSI code for 2 reasons:

1-) Applications could run on a server that doesn't implement SSI

2-) For security reason https://owasp.org/www-community/attacks/Server-Side_Includes_(SSI)_Injection

It means that we will have to hardcode the environment path in samples

Though, we still have to decide what happens when JS is deactivates. (Noscript)

[2020-09-20 18:06] StdGit commented on #157
See also https://github.com/wet-boew/cdts-sgdc/issues/158

[2020-09-20 18:22] StdGit commented on #158
Also we should remove document.write (DW) in the same time
https://github.com/wet-boew/cdts-sgdc/issues/136
https://stackoverflow.com/questions/802854/why-is-document-write-considered-a-bad-practice

[2020-09-21 17:59] ahmad-shahid opened #160 "In the page apptop_custommenu-fr.shtml, clicking on the English toggle button doesn't change langauge to English"
Line 49: the lngLinks should point to the English page. Right now, it is pointed to the French page.

[2020-09-23 15:32] ahmad-shahid commented on #160
Fixed in v4.0.32c

[2020-09-23 15:32] #160 closed

[2020-09-23 17:21] Kamla55 opened #161 "Bypass blocks causing accessibility issue certain browsers"
An issue encountered with CDTS the same is encountered on the canada.ca site as well.

Bypass blocks are invisible causing an accessibility issue for certain OS/Browser combinations.
•	Behaviour in Mac: Firefox - The tab focus does not go to the blocks.
•	Behaviour in iPad: Voiceover + Chrome -  The bypass blocks read but not highlighted in a contrastic color.

Example of the bypass block being re

[2020-09-25 13:10] duboisp commented on #156
After looking at it, i think the issue is coming from Modernz and yepnope in wet-boew core which try to load the script asset via a frame. However the script are still loaded and operational. I didn't saw any explicit call that could probably load any script into a frame except
Currently I suspect that probably the browser sandbox the execution of wet-boew.js because it is added into the page by u

[2020-09-25 19:02] StdGit opened #162 "Static files are not on Canada.ca"
It looks Static files are missing on the run version on Canada.ca
The rn version should be based on v4.0.32

https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/static/refTop.html breaks

https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/cdts/static/refTop.html works

https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32c/cdts/static/refTop.html works

[2020-09-29 13:32] StdGit opened #163 "Verify if images in versions from v4_0_29 are well displayed in gcinranet"

[2020-09-29 20:19] StdGit commented on #157
Since we are removing SSI, we will need to hardcode the environment.
The default server was:
https://www.canada.ca/etc/designs/canada/cdts

[2020-09-30 13:59] StdGit commented on #139
We will remove it in next version for technical reasons.
It was use only for statistic.

[2020-09-30 14:05] StdGit commented on #156
thx Pierre Another place where we are using iframe is Google Tag Manager (GTM) . (Noscript)
I want to remove that too
https://github.com/wet-boew/cdts-sgdc/issues/123

`
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DBPCQJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		`

[2020-09-30 22:34] StdGit commented on #156
These lines cause the error

`		<script>
			document.write(wet.builder.refFooter({
			}));
		</script>`

[2020-10-01 19:31] StdGit commented on #1
Solution I think is to add a parameter that contains the URI of the server instead of an an hardcoded URI.

Something like
`{template .environment}
{if $cdnEnv=='yourEnvironment'}{$cdnServer}{/if}/gcweb/v4_0....
{/template}`

We should check with security too (injection attack)

[2020-10-04 22:10] StdGit opened #165 "old version of closure-templates"
@duboisp @shawnthompson @jeanbenoitrochon @ahmad-shahid @shnitze

The version of google/closure that we use in gccode is probably and old one.

Because method like toAsciiLowerCase aren't implemented

https://github.com/google/closure-templates/blob/master/java/src/com/google/template/soy/basicfunctions/StrToAsciiLowerCaseFunction.java

File used : SoyToJsSrcCompiler.jar

We should upgrade to the

[2020-10-05 13:41] StdGit opened #166 "Find a way to play with string (toLowerCase function) in Google closure"
Solution could be with

- Add/Modify  function toLowerCase() (Compiler doesn't accept parenthesis()) #165
- Regex
- Changing type
- compiler validation  https://github.com/google/closure-templates/issues/116
- call a js function

[2020-10-05 15:53] StdGit opened #167 "Make relative path Ajax"
This path should be associated with the server

<ul role="menu" aria-orientation="vertical" data-ajax-replace="//www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html">

[2020-10-08 16:47] StdGit opened #169 "In site-menu-v5-fr GTM is passed as parameter"
Is there a reason why Google Tag Manager is passed as a parameter?

<li role="presentation"><a role="menuitem" tabindex="-1" href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/hm.html?f=&amp;selectedDirectorUuid=%3BselectedIncorporatorUuid%3D&amp;metricsId=GTM-WQQH22">Apporter des changements à votre société (Centre de dépôt en ligne)</a></li>

[2020-10-18 18:56] StdGit opened #171 "Add a static files refFooter-en.html for apptop_breadcrumb"

[2020-10-18 19:03] StdGit opened #172 "add a specific path or a relative path for each server for refTop.html"

[2020-10-18 20:02] StdGit opened #173 "Add webP icon for favicon.ico"

[2020-10-18 20:08] StdGit opened #174 "Verify cookie issue in chrome"
Indicate whether to send a cookie in a cross-site request by specifying its SameSite attribute

[2020-10-20 14:33] StdGit opened #175 "Investigate if fetch Api will be better for cdts than loadDoc (xhttp request)"
I forget to add, these days, we must consider toI forget to add, these days, we must consider to use the more performant Fetch API instead of XMLHttpRequest. use the more performant Fetch API instead of XMLHttpRequest.

[2020-10-23 18:31] nschonni opened #176 "CDTS not serving SVG banners"
EX: https://www.tbs-sct.gc.ca/pol/index-eng.aspx
![image](https://user-images.githubusercontent.com/1297909/97040599-294c0100-153c-11eb-8a58-8eb573ad731f.png)

It appears to not be serving the file, and if you go to https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_27/assets/sig-blk-en.svg it attempts to download rather than render

/cc @ShadeWyrm

[2020-10-28 15:26] EricDunsworth commented on #176
FWIW that can be worked around by using ``<img>`` elements to reference the SVGs. Browsers don't seem to honour ``content-disposition: attachment`` on images that are brought in via ``<img>`` (not sure why).

Btw GCWeb switched from ``<object>`` to ``<img>`` in wet-boew/GCWeb#1329 (v4.0.28 and up). Looks like [v4.0.28 of the CDTS](https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_28/cdts

[2020-11-06 00:14] StdGit opened #177 "wet-en.soy appPage-enSoy architecture"
this is a Duplicate of https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/162

wet-en.soy contains **reftop **template which include analytics code and call for the following css

		<link rel="stylesheet" href='{call .environment data="all" /}css/theme.min.css'>
		<link rel="stylesheet" href='{call .environment data="all" /}cdts/cdtsfixes.css'>
		 {if $isApplication == true}
		<link

[2020-11-06 20:52] GormFrank commented on #176
@nschonni @EricDunsworth The images should be served just fine now. Please clear your cache, try again and validate. Thanks :)

[2020-11-06 20:55] nschonni commented on #176
Nope, Edge Chrome is prompting download
![image](https://user-images.githubusercontent.com/1297909/98413891-70f87f80-2048-11eb-80c3-41c278380c00.png)

Firefox marking them Blocked
![image](https://user-images.githubusercontent.com/1297909/98413935-840b4f80-2048-11eb-8207-a6d0ffad1cfc.png)

[2020-11-06 21:00] GormFrank commented on #176
@nschonni You are right, thanks. Works fine for me on Chrome when I cleared my cache but it still doesn't work on other browsers. I got excited too quickly.

[2020-11-06 21:12] EricDunsworth commented on #176
I think those image files are getting served inconsistently depending on which cloud server hands them out.

Over the last few mins I've gotten varying results when trying to visit that page via Edge Chromium within the GC's network and my home network. Sometimes ``content-disposition: attachment`` is there, sometimes it isn't.

@GormFrank If you just changed anything super recently, maybe it's ta

[2020-11-06 21:39] GormFrank commented on #176
@EricDunsworth Yes it is quite recent and maybe the developer who deployed the changes forgot to flush the cache; or it might just takes some time to propagate properly.

[2020-11-06 22:16] StdGit commented on #176
Perhaps it will help https://bugs.chromium.org/p/chromium/issues/detail?id=470601

[2020-11-06 23:04] StdGit commented on #176
For reference
Notice the server is "Apache"

Response headers
Request URL: https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_27/assets/sig-blk-en.svg
Request Method: GET
Status Code: 200
Remote Address: 10.52.1.100:443
Referrer Policy: **strict-origin-when-cross-origin**

Request Headers
accept-ranges: bytes
access-control-allow-origin: *
content-disposition: attachment
content-encoding: gz

[2020-11-06 23:29] nschonni commented on #176
We documented this a long time ago for old IIS servers https://wet-boew.github.io/wet-boew/docs/server-en.html so maybe you're hitting the same thing with your Apache config

[2020-11-06 23:52] nschonni commented on #176
Headers from Edge
[code]
So it looks like the content-type is right for me too, just the content-disposition as @EricDunsworth mentioned. Wonder if this is actually in the CDN config

[2020-11-08 16:01] StdGit commented on #176
About content-disposition
https://stackoverflow.com/questions/27931843/chrome-not-honoring-content-disposition-attachment-directive

@GormFrank @EricDunsworth this is what I've told you, if we have error with the language (And there was) header could break.

Also, a nit: your code will generate broken header fields if the file name contains non-ASCII characters.

Note: Little a garbage will become

[2020-11-08 16:29] StdGit commented on #176
Something else does charset=utf-8 is set everywhere,
https://developer.mozilla.org/fr/docs/Web/HTTP/Headers/Content-Disposition

and https://stackoverflow.com/questions/6157485/what-are-content-language-and-accept-language.
Good weekend.

[2020-11-09 16:15] StdGit commented on #176
Adding @duboisp

[2020-11-09 21:32] StdGit commented on #176
@duboisp Got another site with the isssue They really should look at that.

https://www.tpsgc-pwgsc.gc.ca/remuneration-compensation/services-paye-pay-services/systeme-paye-employes-pay-system-employees/retroaction-phenix-phoenix-feedback-fra.html

[2020-11-09 22:12] StdGit commented on #176
Only jean-benoît receive this eMail
You should really look at this issue.
https://github.com/wet-boew/cdts-sgdc/issues/176

Since the version v4_0_27 didn’t change, Something on the servers should have changed.

cdts version: v4_0_27 (Not supported anymore) They should update.
browser ie 11 issue happens in chrome and edge too see issue 176

https://www.tpsgc-pwgsc.gc.ca/remuneration-compensation/

[2020-11-12 21:09] jeanbenoitrochon opened #178 "Sample Pages: Identify which blocks of code we want to include in sample pages"
the content of the sample pages are not consistent.
Certain sample pages uses a certain block of html code and in other pages another block of code is used but they should all be the same.

identify which blocks of code should be used in all of the pages.

Once the "standard blocks" are defined then we can apply the blocks on all of the pages.

[2020-11-13 14:39] StdGit commented on #176
We have to secure the code against clickJacking attack.
A Svg could hide and iframe with malicious script.
https://cheatsheetseries.owasp.org/cheatsheets/Clickjacking_Defense_Cheat_Sheet.html
@GormFrank

[2020-11-17 13:57] jeanbenoitrochon opened #179 "Update Sample files to reflect the latest version of Wet"
Currently the samples pages are not up to date with WET.

- [x] Exit script should be using the new exitscript feature wet-boew/cdts-sgdc#180

[2020-11-17 14:06] StdGit opened #180 "Update exitScript with the new wet-boew component"

[2020-11-17 15:24] StdGit opened #181 "Change name of loaddoc function to cdts-loaddoc to avoid future conflict"
All scripts from cdts should begin with cdts-

[2020-11-18 14:50] jeanbenoitrochon opened #183 "Implement Linter"
Implement Linter

- [ ]  Define "linting" rules (tabulation, spaces, carriage return line feed)

- [ ] Investigate which file types need to have linting rules enforced (html, md, js, etc.)

- [ ]  for the IDE: look at .editorconfig file this is where the linting rules are defined at the IDE level.

- [ ]  Standard configuration for tabs in the IDE (also add verification at the pipeline level.

- [

[2020-11-18 15:00] jeanbenoitrochon opened #184 "Repository Cleanup"
- [ ] Remove folders with versions (we shouldn't a folder for each version)

[2020-11-18 15:03] jeanbenoitrochon opened #185 "GitHub Setup"
An admin should need an approval on a Pull Request before merging.

[2020-11-18 15:10] jeanbenoitrochon opened #186 "Investigate Private repo in GitHub"
Investigate Private repo in GitHub to store private information.

[2020-11-18 15:11] jeanbenoitrochon opened #187 "Document workflow (Pull request, branches, commits, Milestones, issues)"
Document standard procedures for : Pull request, branches, commits, Milestones, issues, tagging (after a deploy to Prod), etc.

[2020-11-18 15:18] jeanbenoitrochon opened #188 "Find a replacement for Google Closure templates"
Talk to Wet team to determine which tool would "work" well with WET.

[2020-11-18 15:19] jeanbenoitrochon opened #189 "Intergration testing"
Find a way to test all the templates to make sure they are rendered properly.

[2020-11-19 01:47] StdGit opened #191 "css?family=Noto are skipped during build"
https://travis-ci.org/github/wet-boew/cdts-sgdc/builds/744513792

Running "cssmin:dist" (cssmin) task

[2020-11-19 19:06] jeanbenoitrochon opened #192 "Cleanup CDTS Inbox"
Review CDTS Inbox emails and structure.

Cleanup required.

Archive old emails.

[2020-11-19 19:39] #192 closed

[2020-11-20 16:11] dannysheppard opened #193 ""Cannot set property 'innerHTML' of null" error causing French pages to render incorrectly."
I'm seeing the following error in the console when viewing French pages. This only occurs so far on our test server, it has not been deployed to production so I don't know how it will behave there, and the issue does not occur when I test locally. The only issue to note about the test server is that it very slow to respond to requests.

I see this on all French pages when I deploy them to our test

[2020-11-20 16:58] StdGit commented on #193
In which browsers these issues happens ?

[2020-11-20 18:27] dannysheppard commented on #193
It happens in Edge, IE 11, Firefox,  and Chrome.

[2020-11-20 19:08] StdGit commented on #193
I have another bug with ajax. Servers have been modified recently and Cors have been modified
@jeanbenoitrochon @duboisp

X-Frame-Options http header is set to be the same origin on canada.ca.

https://github.com/wet-boew/cdts-sgdc/issues/156

To follow

[2020-11-20 19:35] #189 closed

[2020-11-20 19:36] #186 closed

[2020-11-20 19:37] #188 closed

[2020-11-20 19:38] #185 closed

[2020-11-20 19:39] #183 closed

[2020-11-20 19:39] #184 closed

[2020-11-20 19:39] #187 closed

[2020-11-23 14:52] Kamla55 opened #194 "INTRANET - search box missing on blog.prv"
Ran the WAVE plugin on blogs.prv (not esdc.prv) homepage and it flagged the search field in the left nav was an empty field.

What It Means:
A form label is present, but does not contain any content.
Why It Matters:
A <label> element that is associated to a form control but does not contain text will not present any information about the form control to the user.
How to Fix It:
Ensure that the for

[2020-11-23 14:54] Kamla55 opened #195 "INTRANET - header link underline contrast"
An accessibility fail for contrast ratio on the links in the header template (IntraWeb main header)

![image](https://user-images.githubusercontent.com/71461405/99976756-d7341080-2d71-11eb-903a-b7d7e71c4d11.png)

[2020-11-23 15:03] Phoebebotros opened #196 "Mixed content in Edge and Chrome"
Mixed content (HTTPS with HTTP links).
The HTTP links are being automatically upgraded to HTTPS for security purposes in Edge and Chrome hence rendering certain links unavailable (images etc.)

[2020-11-23 16:14] Kamla55 opened #197 "INTRANET HTML5 plugin for chat wizard"
Pls ensure next release on v4.0.39 includes HTML5 plugin for chat wizard

[2020-11-23 17:52] jeanbenoitrochon commented on #195
Adding details:
Accessibility fail for contrast ratio on the links in the header template (IntraWeb)

![195_accessibility](https://user-images.githubusercontent.com/47452736/99997156-c17f1500-2d8a-11eb-8bd6-f819137b5ed7.png)

[2020-11-23 17:56] nguyenpearl opened #198 "popup is not displayed for external link"
When the user clicks on contact link in the footer, the popup waring that the user will be logged out is not displayed

[2020-11-23 17:57] nguyenpearl opened #199 "Unable to open a link in a new window"
We are unable to open a link in new window with target="blank"

[2020-11-23 19:07] patricehernert commented on #195
@Kamla55 : Hello Kamla, we can not reproduce the problem. Could you give me a full url that is not passing accessibility ?

[2020-11-24 02:22] StdGit opened #200 "npm ERR! peer dep missing: grunt@~0.4.0, required by grunt-contrib-copy@0.5.0"
if you do a npm ls

[2020-11-24 18:05] dannysheppard commented on #193
Update on this issue. It looks like I was able to get the French page working by changing the time that the call to wet.builder.appTop(). I still can't explain why English worked but French did not. The reason for the failure appears to be that the call to wet.builder.appTop() was wrapped in a onload() block which waited for JavaScript to load on the page. Still testing, but this appears to have r

[2020-11-25 13:06] Kamla55 commented on #195
Here is the link : http://esdc.prv/en/lb/index.shtml

And the accessibility reports that identified the issue in Compliance Sheriff
[DPAPSSGDGGITPS_Stat_RapportAccessibilite_20200817_V01.docx](https://github.com/wet-boew/cdts-sgdc/files/5596807/DPAPSSGDGGITPS_Stat_RapportAccessibilite_20200817_V01.docx)

![ComplianceSheriff-templateError](https://user-images.githubusercontent.com/71461405/10023141

[2020-11-25 13:21] jeanbenoitrochon commented on #195
Issue was closed by accident, re-opening.

[2020-11-25 20:04] jonnorth commented on #199
We also noticed that this is no longer working. I had previously opened an issue regarding this and at one point I believe it was fixed. See #49

[2020-11-30 16:05] StdGit commented on #199
You are right, the exitscript has been retrograded to v4_0_32 behaviour without target_blank.
Instead exitscript has been implemented in wet-boew
https://wet-boew.github.io/wet-boew/demos/exitscript/exitscript-en.html#wb-auto-4
cdts v4_0_39 didn't implement this new feature yet.
We plan to implement it in the next version.
Suggestion: Perhaps you can use the wet-boew version. However you have to d

[2020-11-30 16:30] nguyenpearl commented on #199
Hi this ticket is for version 4.0.39. the newest version, not 4.0.32. Thanks

From: StdGit <notifications@github.com>
Sent: November 30, 2020 11:05 AM
To: wet-boew/cdts-sgdc <cdts-sgdc@noreply.github.com>
Cc: Nguyen, Pearl Phu PPT [NC] <pearl.nguyen@servicecanada.gc.ca>; Author <author@noreply.github.com>
Subject: Re: [wet-boew/cdts-sgdc] Unable to open a link in a new window (#199)

You are right

[2020-11-30 18:07] jeanbenoitrochon commented on #194
Please provide URL so we can reproduce.

[2020-11-30 19:20] StdGit commented on #199
Version 4.0.39 has the same code than 4.0.32 for the exitscript component.

Could I close the ticket?

[2020-11-30 19:23] nguyenpearl commented on #199
One moment please, let us test in both java and .nety app. Will get back to you very soon thanks

From: StdGit <notifications@github.com>
Sent: November 30, 2020 2:21 PM
To: wet-boew/cdts-sgdc <cdts-sgdc@noreply.github.com>
Cc: Nguyen, Pearl Phu PPT [NC] <pearl.nguyen@servicecanada.gc.ca>; Author <author@noreply.github.com>
Subject: Re: [wet-boew/cdts-sgdc] Unable to open a link in a new window (#

[2020-11-30 19:47] StdGit commented on #130
@laurencechavet Could we close this issue?
About Canada.ca from https://www.canada.ca/en.html goes to
https://www.canada.ca/en/government/about.html

[2020-11-30 19:49] Kamla55 commented on #194
http://esdc.prv/en/lb/index.shtml

[2020-12-01 16:55] nguyenpearl commented on #199
We tested with version 4.0.49. When we click on a footer link the popup is not displayed. thanks

From: StdGit <notifications@github.com>
Sent: November 30, 2020 2:21 PM
To: wet-boew/cdts-sgdc <cdts-sgdc@noreply.github.com>
Cc: Nguyen, Pearl Phu PPT [NC] <pearl.nguyen@servicecanada.gc.ca>; Author <author@noreply.github.com>
Subject: Re: [wet-boew/cdts-sgdc] Unable to open a link in a new window (#

[2020-12-02 15:31] ahmad-shahid commented on #194
Hello, I ran the wave plugin on the URL provided and I'm unable to reproduce that error. It says the label is there and is associated with the form control. I also checked via code. Is it possible if you could send a screenshot/report of the issue you see? Thanks!

![image](https://user-images.githubusercontent.com/52757738/100891040-dba1ad00-3486-11eb-81c9-c07969aaecb6.png)
![image](https://user-

[2020-12-02 19:00] Radji-Millette commented on #194
The issue is on http://blogs-blogues.prv/?lang=en. Not esdc.prv.

1 X Empty form label

[2020-12-03 15:47] ahmad-shahid commented on #194
I noticed the error is occurring in the label tag `<label display="none" for="s" />`
This code is not being rendered by CDTS. If you populate this label with content, on your end, this issue should be fixed.

[2020-12-03 18:02] ahmad-shahid commented on #193
Hi @dannysheppard, if this has been resolved, can I go ahead and close this issue? Thanks

[2020-12-03 18:12] dannysheppard commented on #193
Yes I think this can be closed.

From: Ahmad <notifications@github.com>
Sent: December 3, 2020 1:02 PM
To: wet-boew/cdts-sgdc <cdts-sgdc@noreply.github.com>
Cc: Sheppard, Daniel M [NC] <daniel.sheppard@hrsdc-rhdcc.gc.ca>; Mention <mention@noreply.github.com>
Subject: Re: [wet-boew/cdts-sgdc] "Cannot set property 'innerHTML' of null" error causing French pages to render incorrectly. (#193)

Hi @dan

[2020-12-03 18:15] #193 closed

[2020-12-04 15:29] patricehernert commented on #195
I changed colour inside "eccc.css" and pushed it to gccode:

<img width="1340" alt="1" src="https://user-images.githubusercontent.com/56038788/101181864-61eef800-361b-11eb-98c4-211dc3a0a3fa.PNG">

[2020-12-18 18:31] ahmad-shahid commented on #198
This is issue has now been fixed. Please re-test and let me know if I can close this issue.

[2020-12-18 18:31] ahmad-shahid commented on #199
This is issue has now been fixed. Please re-test and let me know if I can close this issue.

[2020-12-18 18:34] ahmad-shahid commented on #194
Hope this has been fixed on your end. Closing this issue, thanks.

[2020-12-18 18:34] #194 closed

[2020-12-18 18:36] ahmad-shahid commented on #179
The new exitscript feature is now being used, with the latest 4.0.39 update.

[2020-12-18 18:36] #179 closed

[2020-12-18 18:40] nguyenpearl commented on #198
I will test and let you know. thanks

From: Ahmad <notifications@github.com>
Sent: December 18, 2020 1:32 PM
To: wet-boew/cdts-sgdc <cdts-sgdc@noreply.github.com>
Cc: Nguyen, Pearl Phu PPT [NC] <pearl.nguyen@servicecanada.gc.ca>; Author <author@noreply.github.com>
Subject: Re: [wet-boew/cdts-sgdc] popup is not displayed for external link (#198)

This is issue has now been fixed. Please re-test and

[2020-12-18 19:03] ahmad-shahid commented on #159
Fixed with 4.0.39 release. Closing issue.

[2020-12-18 19:03] #159 closed

[2020-12-21 15:31] patricehernert commented on #196
@Phoebebotros Could you confirm this issue still exists in version 4.0.39 ? Thanks.

[2020-12-21 15:33] patricehernert commented on #176
@nschonni Could you confirm this issue still exists in version 4.0.39 ? Thanks.

[2020-12-21 15:39] patricehernert commented on #161
@Kamla55 Could you confirm this issue still exists in version 4.0.39 ? Thanks.

[2020-12-21 16:05] Kamla55 commented on #161
Hold on checking with the client - they will test and let us know

[2020-12-21 16:11] patricehernert commented on #125
@nicholas-ly Could you confirm this issue has been fixed in version 4.0.39 ? Thanks.

[2020-12-21 16:13] Kamla55 commented on #195
Hang on checking in with the team that reported the issue - they will test and get back to us

[2020-12-21 16:25] nicholas-ly commented on #125
@patricehernert In 4.0.39, the date picker no longer shows up in Internet Explorer 11. The date picker is showing up correctly in Chrome, Edge and Firefox.

[2020-12-21 16:31] patricehernert commented on #116
@TeamDman Could you confirm this issue still exists in version 4.0.39 ? Thanks.

[2020-12-21 16:32] patricehernert commented on #109
@s-laugh Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:33] patricehernert commented on #101
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:33] patricehernert commented on #100
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:34] patricehernert commented on #98
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:34] patricehernert commented on #97
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:35] patricehernert commented on #95
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:37] patricehernert commented on #93
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:38] patricehernert commented on #92
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:38] patricehernert commented on #91
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:39] patricehernert commented on #90
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:39] patricehernert commented on #87
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:39] patricehernert commented on #86
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:40] patricehernert commented on #84
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:40] patricehernert commented on #83
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:41] patricehernert commented on #81
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:41] patricehernert commented on #80
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:41] patricehernert commented on #79
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:42] patricehernert commented on #78
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:42] patricehernert commented on #77
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:42] patricehernert commented on #76
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:42] patricehernert commented on #75
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:43] patricehernert commented on #74
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:43] patricehernert commented on #73
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:43] patricehernert commented on #72
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:43] patricehernert commented on #71
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:43] patricehernert commented on #70
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:43] patricehernert commented on #69
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:44] patricehernert commented on #68
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:44] patricehernert commented on #67
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:44] patricehernert commented on #66
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:44] patricehernert commented on #65
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:44] patricehernert commented on #64
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:45] patricehernert commented on #63
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:45] patricehernert commented on #61
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:45] patricehernert commented on #60
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:45] patricehernert commented on #59
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:45] patricehernert commented on #58
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:46] patricehernert commented on #57
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:46] patricehernert commented on #56
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:47] patricehernert commented on #55
@MaximPerry Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:47] patricehernert commented on #54
@MaximPerry Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:47] patricehernert commented on #53
@MaximPerry Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:48] patricehernert commented on #52
@MaximPerry Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:48] patricehernert commented on #51
@MaximPerry Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:48] patricehernert commented on #50
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:48] patricehernert commented on #49
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:49] patricehernert commented on #48
@MaximMartel Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:50] patricehernert commented on #47
@shawnthompson Could you confirm this issue is still valid for version 4.0.39 ? Thanks.

[2020-12-21 16:53] laurencechavet commented on #58
Yes this is still valid. To create a piece of javascript using jquery, we need to include it in the footer. This would be better if directly done by the CDTS to allow jquery for all, instead of the departments to customize the CDTS and this would guarantee this is completely compatible with the CDTS. Thanks

[2020-12-21 17:11] nschonni commented on #176
@patricehernert I'd suggest that adding this generic comment on dozens of issues won't get a helpful response. We had someone on WET that did a triage this way and just resulted in people setting up spam rules for notifications.

[2020-12-21 18:45] s-laugh commented on #109
@patricehernert can you confirm if a feature has been added to add a control for a "full-screen" mode?

[2020-12-21 21:10] nguyenpearl commented on #198
Hi,

I tested in both .net and java applications in our group by clicking on the contact information link in def-footer section

[cid:image001.png@01D6D650.8062E1A0]

Here is the result of my tests:

1/ For java apps:

-          Version 4.0.30: click on external link, a popup displays. If user click no, return the user to the current page. If user click yes, log user out and redirect him to exter

[2020-12-22 13:49] patricehernert commented on #155
For now, I don't have the repo for GitHub, so I will try to fix the issue inside GCCode.

Moreover, I'm not able to assign myself an issue. For that, I have to be added to the team.

[2020-12-22 13:52] patricehernert commented on #155
@sarasuri Hi! Could you give a link where I can see the problem ? Do you say the link '"Skip to "About government"' is displayed on bigger screen sizes, and disappears when we reduces the size of the screen ? Thanks.

[2020-12-22 18:38] RubyDo opened #203 "CDTS header - language toggle link is missing the classes of the responsive design"
This is on all CDTS demo pages  e.g. [content page ](https://cenw-wscoe.github.io/sgdc-cdts/GCWeb/samples/content-en.html) (current code points to use of gcweb/v4_0_28/cdts/)

Issue:
The header is missing for the responsive design text and classes switch  as a result language toggle link appears in full "Français" instead of "FR" on mobile view.

Missing code is emphasized in **strong below**
`<a

[2020-12-23 14:45] TeamDman commented on #116
![image](https://user-images.githubusercontent.com/9356891/103008694-898efd00-4503-11eb-9c2a-4156d00353f5.png)
Still seems to be present

[2021-01-07 16:59] StdGit commented on #1
Ce problème concerne surtout la repo de Github
This issue concerns especially Github's repo

[2021-01-07 20:01] StdGit commented on #3
Je crois que le SGDC devrait utiliser quelque chose d'autres que closure-templates (SoyToJsSrcCompiler.jar) car Google ne le supporte plus à l'externe.
I think cdts should use something else than  closure-templates (SoyToJsSrcCompiler.jar) since google doesn't support it externally.

[2021-01-07 20:31] StdGit commented on #8
https://travis-ci.org/github/wet-boew/cdts-sgdc/builds

[2021-01-07 20:31] #8 closed

[2021-01-07 20:44] StdGit commented on #26
https://github.com/wet-boew/cdts-sgdc/blob/master/README.md

[2021-01-07 20:59] StdGit commented on #47
@patricehernert yes it is still valid.

[2021-01-07 21:48] StdGit commented on #48
Nous devons tester pour confirmer.
Need testing to confirm

Cookies changes

Chrome 85 is the first stable version of the web browser that will assign SameSite=Lax to cookies if no other SameSite attribute is specified by the site. Google's initial plan was to roll out the changes in Chrome 80 Stable but the company rolled back the SameSite cookie changes because of the global pandemic.

https://w

[2021-01-11 18:21] StdGit commented on #49
Cela semble fonctionner, cependant nous aurions besoin d'un exemple vu que
l'exemple actuel utilise document.write et n'inclut pas un exemple avec target_blank ce qui peut occasionner des problèmes dans certaines situations/fureteurs.

This seems to work. However we would need an example as
the current example uses document.write and does not include an example with target_blank which can cause pr

[2021-01-12 21:59] ahmad-shahid commented on #198
Hi @nguyenpearl , the fix has been deployed on v4.0.39.
Can you re-test? Thanks

[2021-01-12 22:00] nguyenpearl commented on #198
I will do tomorrow. thanks

From: Ahmad <notifications@github.com>
Sent: January 12, 2021 5:00 PM
To: wet-boew/cdts-sgdc <cdts-sgdc@noreply.github.com>
Cc: Nguyen, Pearl Phu PPT [NC] <pearl.nguyen@servicecanada.gc.ca>; Mention <mention@noreply.github.com>
Subject: Re: [wet-boew/cdts-sgdc] popup is not displayed for external link (#198)

Hi @nguyenpearl<https://github.com/nguyenpearl> , the fix has

[2021-01-13 13:50] jonnorth commented on #198
@ahmad-shahid It appears this change has broken the existing functionality when using the redirect url and setting display model window = false. The redirect url is not used and the modal window is now always displayed

[2021-01-13 15:51] ahmad-shahid commented on #198
@jonnorth I am looking into the displaymodal = false issue.
When you say the redirect url is not used, if you click yes on the modal, it is not taking you to the redirect url? What is the behaviour?

[2021-01-13 16:03] nguyenpearl commented on #198
Hi,

Here is message from my coworker who tested with .net app. We do not test with java yet.

[‎2021-‎01-‎13 10:07 AM]  Toporova, Rimma R [NC]:
in dev in firefox I don't see nothing, in IE I see this java script error:Line: 9
Error: Unable to get property 'msgboxHeader' of undefined or null reference

Popup not display, same as before

[‎2021-‎01-‎13 10:13 AM]  Toporova, Rimma R [NC]:
So it works

[2021-01-13 16:11] jonnorth commented on #198
@ahmad-shahid We do not display the modal dialog we set displaymodal = false so no modal is displayed. The expected behaviour is when an external link is selected it will redirect to the url specified in the value for the exitUrl. It's now always displaying a modal. Also it seems that the query string parameter was changed from targetUrl to extUrl  in 4.0.39 then back to targetUrl again in an upda

[2021-01-13 17:19] nguyenpearl commented on #198
the new build works for .net apps in Edge, Chrome and Firefox. Thanks

[2021-01-13 18:45] laurencechavet commented on #130
Hi
I was waiting for the release of 4.0.39 to answer. This is still not fixed

From https://cenw-wscoe.github.io/sgdc-cdts/docs/index-en.html#Static_pages_.28version_.2F_run.29, we can get the static pages for the 4.0.39 and the link in the footer is still pointing to https://www.canada.ca/en/newsite.html instead of https://www.canada.ca/en/government/about.html. The static files in the CDTS packa

[2021-01-13 21:42] ahmad-shahid commented on #130
Hi @laurencechavet, I just saw this issue. I went ahead and updated the link for About Canada.ca.
The change is live now so you can re-download the zip file. Let me know if there are any issues.

[2021-01-14 13:57] laurencechavet commented on #130
All good now
Thanks a lot
You can close the case

[2021-01-14 13:59] #130 closed

[2021-01-15 16:22] StdGit commented on #50
Need a demo without document.write

[2021-01-15 16:34] StdGit commented on #51
Oui exitscript-en.shtml n'utilise pas un tableau
Yes exitscript-en.shtml doesn't use array

[2021-01-15 18:03] szet0018 opened #204 "Canada.ca theme: Navigation landmarks missing unique accessible names"
This issue relates to issue 146 which is on the Application template.
https://github.com/wet-boew/cdts-sgdc/issues/146

There is an AXE error on the Canada.ca theme template.
https://cenw-wscoe.github.io/sgdc-cdts/GCWeb/samples/content-en.html

**Issue Description**
Landmarks must have a unique role or role/label/title (i.e. accessible name) combination

**Element location**
body > nav
Element sou

[2021-01-15 18:54] ahmad-shahid commented on #198
@jonnorth Can you re-test? Thanks

[2021-01-18 14:07] ahmad-shahid commented on #176
Fixed by [#1294](https://github.com/canada-ca/ore-ero/pull/1294). Closing issue.

[2021-01-18 14:07] #176 closed

[2021-01-18 14:14] ahmad-shahid commented on #180
Implemented in the latest release v4.0.39. Closing issue.

[2021-01-18 14:14] #180 closed

[2021-01-18 14:25] jonnorth commented on #198
@ahmad-shahid I've re-tested and it's working as expected now. Thanks 👍

[2021-01-18 14:30] #198 closed

[2021-01-18 14:41] ahmad-shahid commented on #64
In the latest release (v4.0.39), we are now using the exitScript feature provided by WET. We can modify the content (i.e. the message, button labels) but cannot change the the warning window itself.

[2021-01-18 14:41] #64 closed

[2021-01-18 14:49] ahmad-shahid commented on #87
Not an issue anymore. See https://ssl-templates.services.gc.ca//app/cls/WET/gcweb/v4_0_39/cdts/samples/server-en.shtml

[2021-01-18 14:50] #87 closed

[2021-01-18 14:58] ahmad-shahid commented on #133
@StdGit I don't see the error in the link you provided. Is this still an issue?

[2021-01-18 15:07] ahmad-shahid commented on #56
This was fixed as part of https://gccode.ssc-spc.gc.ca/iitb-dgiit/sds/GOCWebTemplates/DotNetTemplates/-/issues/316. Closing issue.

[2021-01-18 15:07] #56 closed

[2021-01-18 15:13] ahmad-shahid commented on #150
This is being tracked in #195. Closing this issue.

[2021-01-18 15:13] #150 closed

[2021-01-18 15:15] ahmad-shahid commented on #163
We are not supporting v4.0.29 anymore. Closing this issue.

[2021-01-18 15:15] #163 closed

[2021-01-18 15:58] ahmad-shahid commented on #155
@sarasuri Is it possible if you could provide a link and/or a screenshot?

[2021-01-18 18:41] ahmad-shahid commented on #199
Confirmed to be working (fix part of #198)

[2021-01-18 18:41] #199 closed

[2021-01-18 18:49] ahmad-shahid commented on #49
Fixed/Tested as part of #198/#199.

[2021-01-18 18:49] #49 closed

[2021-01-18 18:59] ahmad-shahid commented on #68
IE11 is not supported anymore. We are currently using WET v4.0.39.1 which does not support IE11. Closing this issue.

[2021-01-18 18:59] #68 closed

[2021-01-18 19:22] ahmad-shahid commented on #72
@StdGit Can you add more detail? What is the issue? Thanks

[2021-01-18 19:37] ahmad-shahid commented on #76
@StdGit Can you provide more detail, which end tag is unmatched?

[2021-01-18 19:42] ahmad-shahid commented on #77
This has been fixed for v4.0.39. See this: https://validator.w3.org/nu/?doc=https%3A%2F%2Fssl-templates.services.gc.ca%2Fapp%2Fcls%2FWET%2Fgcweb%2Fv4_0_39%2Fcdts%2Fsamples%2Fserver.shtml

[2021-01-18 19:42] #77 closed

[2021-01-18 20:07] ahmad-shahid commented on #138
Not an issue anymore since SSI statements have been removed from the samples.

[2021-01-18 20:07] #138 closed

[2021-01-18 20:11] ahmad-shahid commented on #157
SSI statements have been removed as part of v4.0.39 release and the environment has been hardcoded.

[2021-01-18 20:11] #157 closed

[2021-01-18 20:15] ahmad-shahid commented on #158
SSI statements have been removed for v4.0.39 release.
For the document.write() issue, we are tracking that in #55 .

[2021-01-18 20:15] #158 closed

[2021-01-18 20:51] ahmad-shahid commented on #139
Hi @Moro-Code, the script was removed in the latest release v4.0.39. Can this issue be closed?

[2021-01-18 20:57] StdGit commented on #52
Besoin de clarifications
Google template ajoute soy$$escapeHtml donc il escape les paramètres.

Need clarifications
Google template add soy$$escapeHtml so it escape parameters.

[2021-01-19 14:57] ahmad-shahid commented on #123
GTM script has been removed in the latest release (v4.0.39). Closing issue.

[2021-01-19 14:57] #123 closed

[2021-01-19 15:08] ahmad-shahid commented on #122
Already been fixed. Closing this issue.

[2021-01-19 15:08] #122 closed

[2021-01-19 15:18] nschonni commented on #76
https://validator.w3.org/nu/?doc=http%3A%2F%2Fwww.gcintranet.com%2Fapp%2Fcls%2FWET%2Fgcintranet%2Fv4_0_39%2Fcdts%2Fsamples%2Fsubtheme-iservice-en.shtml
Still has errors with 4.0.39

[2021-01-19 15:25] ahmad-shahid commented on #90
Not applicable anymore. The WET script is now being used. Closing issue.

[2021-01-19 15:25] #90 closed

[2021-01-19 15:39] ahmad-shahid commented on #83
@StdGit Looking at the GCCode issue, your code was merged. Does that close this issue?

[2021-01-19 15:44] ahmad-shahid commented on #78
@StdGit Can we get more details for this issue?

[2021-01-19 16:14] ahmad-shahid commented on #67
Question answered by Shawn. Closing issue.

[2021-01-19 16:14] #67 closed

[2021-01-19 20:22] StdGit commented on #53
un canevas  .appTop existe dans wet-en/fr.soy
---
A template .appTop exist in wet-en/fr.soy

[2021-01-19 20:22] #53 closed

[2021-01-19 23:07] StdGit commented on #54
WET Issue: wet-boew/wet-boew#8241 est fermée

Nous avons besoin d'un exemple et de la documentation comme
https://cenw-wscoe.github.io/sgdc-cdts/GCWeb/appTop/apptop_custommenu-en.html

wet-en.soy aura besoin d'être ajusté

Pour tester vous pouvez inclure le code suivant dans http://127.0.0.1:8080//app/cls/WET/gcweb/v4_0_39/cdts/samples/breadcrumbs-en.shtml

WET Issue: wet-boew/wet-boew#8241 is clo

[2021-01-21 16:44] laurencechavet opened #205 "CDTS footer - About Canada link wrong in wet-en.js and wet-fr.js"
Hi
This is kind of the same issue than issue 130. Issue 130 was in the static files when Javascript is disabled and had been fixed in CDTS v4.0.39. But I did not think the javascript would overwrite the static footer-en.html.
Here we talk when Javascript is enabled and that wet-en.js or wet-fr.js run on the web page

The link About Canada.ca in the footer should go to "https://www.canada.ca/en/gov

[2021-01-21 18:04] #139 closed

[2021-01-22 16:31] ahmad-shahid commented on #145
Issue #91 already open to track this. Moving comment there and closing this issue

[2021-01-22 16:31] #145 closed

[2021-01-22 16:31] ahmad-shahid commented on #91
StdGit commented on August 4th: L'éditeur principal souhaite apporter des changements pour le 25 juin

Un courriel leur a été envoyé pour leur dire que la date de la prochaine version du CDTS n'était pas connue.

[2021-01-22 16:37] ahmad-shahid commented on #133
Errors are no longer present. Closing issue.

[2021-01-22 16:37] #133 closed

[2021-01-22 16:39] ahmad-shahid commented on #72
The text on the exit script sample pages describe the functionality. Closing issue.

[2021-01-22 16:39] #72 closed

[2021-01-22 18:35] ahmad-shahid commented on #144
Moved issue to https://github.com/cenw-wscoe/sgdc-cdts/issues/16 - CDTS documentation repo.

[2021-01-22 18:35] #144 closed

[2021-01-22 18:43] ahmad-shahid commented on #100
Last updated in 2018: "The page no longer throws an error." Closing issue.

[2021-01-22 18:43] #100 closed

[2021-01-25 16:48] StdGit commented on #57
Après avoir vérifié le temps d'attente dans FireFox et Chrome pour la version "run" v4_0_39
Avec les options de Cache et No Cache
Pour les 3 fichiers
Nous n'avons noté aucune différence notable.

La seule différence signifative étant que Chrome chargait les fichiers deux fois plus rapidement en moyenne.
Si nous devons faire de plus amples tests nous aurons besoin du même outil que le client a util

[2021-01-25 16:48] #57 closed

[2021-01-26 16:27] ahmad-shahid commented on #195
Confirmed to be working.

[2021-01-26 16:27] #195 closed

[2021-01-26 21:54] StdGit commented on #58
Your issue is cause by the fact that your script is trying to execute before jquery is loaded

Try to defer it after the page is loaded with defer="defer" attribute

`<script> defer="defer" type="text/javascript"  src="/application/formulaires-forms/javax.faces.resource/chinBull.js.app?ln=js"></script>`

It should work for the majority of browsers. https://caniuse.com/script-defer

You could note

[2021-01-28 18:59] ahmad-shahid commented on #86
The script has been removed. Closing issue.

[2021-01-28 18:59] #86 closed

[2021-01-28 19:00] szet0018 opened #206 "Application template - Skip links not wrapped in nav element"
There is a AXE error of "All page content must be contained by landmarks" on the Application template.

https://cenw-wscoe.github.io/sgdc-cdts/GCWeb/appTop/apptop-en.html
The skip links in the application template are not wrapped in a nav element.

[code]
https://cenw-wscoe.github.io/sgdc-cdts/GCWeb/samples/content-en.html
They should follow the Canada.ca template, which does wrap the skip links i

[2021-01-28 19:00] ahmad-shahid commented on #63
The script was removed.

[2021-01-28 19:00] #63 closed

[2021-01-28 19:13] ahmad-shahid commented on #75
Not supported. Closing issue.

[2021-01-28 19:13] #75 closed

[2021-02-01 14:21] StdGit commented on #59
Une fois que le projet sera officiellement sur GitHub ce billet pourra être fermé.

---

Once the project will be officially on GitHub this issue could be closed.

[2021-02-01 14:23] StdGit commented on #60
Une fois que le projet sera officiellement sur GitHub ce billet pourra être fermé.

Once the project will be officially on GitHub this issue could be closed.

[2021-02-01 18:01] sarasuri commented on #155
Here is the link to one of the CDTS demo pages with the above issue: https://cenw-wscoe.github.io/sgdc-cdts/GCWeb/samples/content-en.html
The page is viewed in Chrome. Below are screenshots with and without the "Skip to "About government' link.

[2021-02-01 21:41] StdGit commented on #61
Les Développeurs devraient utiliser un script externe avec l'attribut defer
Testé avec Chrome Version 87.0.4280.66 (Official Build) (64-bit)
En attente d'une confirmation de 'Lee, Jimmy Wing-Chuen' <JimmyWing-Chuen.Lee@tc.gc.ca> :-)

Ex:

---

`<script src="externalScript.js" defer></script>`

[code]

---
Developers should use an external script with a defer attribute
Tested with Chrome Version 87

[2021-02-02 11:56] laurencechavet commented on #58
Hi
The defer attribute works fine. Thanks a lot. You can close the case
Thanks

[2021-02-02 16:07] #58 closed

[2021-02-02 16:09] ahmad-shahid commented on #54
This is a WET issue which was fixed and closed. Closing this issue.

[2021-02-02 16:09] #54 closed

[2021-02-02 16:24] ahmad-shahid commented on #156
We removed SSI statements. The files are loaded from the same server the page is loaded from.

[2021-02-02 16:24] #156 closed

[2021-02-02 16:45] ahmad-shahid commented on #162
Static pages for the Canada.ca theme are found here: https://cenw-wscoe.github.io/sgdc-cdts/docs/index-en.html

[2021-02-02 16:45] #162 closed

[2021-02-02 19:31] ahmad-shahid commented on #126
@StdGit Would you be able to provide more details for this issue?

[2021-02-02 19:41] ahmad-shahid commented on #92
The developer needed to test this in Feb 2018.

[2021-02-02 19:41] #92 closed

[2021-02-02 19:54] ahmad-shahid commented on #93
Question has been answered. Also, note: documentation can be found here: https://cenw-wscoe.github.io/sgdc-cdts/docs/internet-en.html

[2021-02-02 19:54] #93 closed

[2021-02-02 20:47] ahmad-shahid commented on #142
Confirmed via email that this issue has been resolved.

[2021-02-02 20:47] #142 closed

[2021-02-02 20:59] ahmad-shahid commented on #83
Code was merged: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/merge_requests/34.
Closing issue.

[2021-02-02 20:59] #83 closed

[2021-02-03 14:19] ahmad-shahid commented on #69
This is speculation at this point as no requirement has been received. This issue can be shelved for now.

[2021-02-03 14:19] #69 closed

[2021-02-03 16:15] StdGit commented on #66
Le problème est toujours valide
---
Issue is still valid

[2021-02-03 16:54] ahmad-shahid commented on #203
Will be resolved by the same fix for #135

[2021-02-03 20:24] ahmad-shahid commented on #132
![image](https://user-images.githubusercontent.com/52757738/106804842-eb2ea500-6633-11eb-9347-51a1d247ac4a.png)

[2021-02-03 20:25] #132 closed

[2021-02-04 14:56] ahmad-shahid commented on #151
Confirmed via email on Aug 28th that is issue has been resolved.

[2021-02-04 14:56] #151 closed

[2021-02-04 15:29] ahmad-shahid commented on #136
The wet-boew issue that is referred here has been closed. For the document.write problem, that is being tracked here: #55

[2021-02-04 15:29] #136 closed

[2021-02-04 19:44] StdGit commented on #73
Le lien Contact pointe maintenant sur https://www.canada.ca/en/contact.html

Donc ce n'est plus valide,  car chaque département gère à sa façon cette fonctionnalité.

---

Contact link point now on https://www.canada.ca/en/contact.html

So it is not valid anymore since each department has their way to handle that functionality

[2021-02-04 19:44] #73 closed

[2021-02-08 15:34] StdGit commented on #74
Ce billet est toujours approprié
Issue is still relevant

[2021-02-08 16:49] StdGit commented on #76
@ahmad-shahid
https://validator.w3.org/nu/?doc=https%3A%2F%2Fssl-templates.services.gc.ca%2Fapp%2Fcls%2FWET%2Fgcintranet%2Fv4_0_39%2Fcdts%2Fsamples%2Fsubtheme-iservice-en.shtml

    Error: Stray end tag code.

    From line 101, column 4; to line 101, column 10

        }]↩});</code></pre>

Also see https://github.com/validator/validator/issues/841

and validate by text input https://validator.w3.

[2021-02-08 22:43] jonjones opened #207 "Leaving Secure Site"
The leavingSecureSiteWarning has been changing over that last few releases and it's at a point where I am not sure it quite makes sense. As it stands now on the live version, when a link is actioned, you get the modal window (if its set to true) without question. Since our application is public facing, we warn the user that if they leave their form they will lose the information they have entered

[2021-02-11 20:25] StdGit commented on #79
yes it is

[2021-02-15 18:07] ahmad-shahid commented on #207
Hi, we will go with your second suggestion and add the option of allowing you to turn off the modal dialog for links that open in a new window.

[2021-03-01 17:33] william-pattern-esdc opened #212 "Request - Signout button: support modal popup"
**Is your feature request related to a problem? Please describe.**

We switched over from GCWeb Default to GCWeb Application.  With GCWeb Default, we added a logout button that would show a modal. It would ask whether you are sure you want to leave the application.

With GCWeb Application, there is a Sign Out button, but there isn't a way to include a modal that I am aware of.

**Describe the solu

[2021-03-04 17:29] bchagnon opened #208 "Clicking on "Share this page" does not fire the modal pop-up window"
I'm trying to figure out why the Share modal window does not pop-up with the latest CDTS (.../rn/...) or even with version 4_0_28.

The following HTML does get injected in the def-preFooter of the web page when inspecting the elements with Developer tools. But clicking on the share button just adds the extra fragment identifier "#shr-pg0" to the URL.

[code]

[2021-03-04 18:55] bchagnon commented on #208
Solved by making sure <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script> is loaded before the wet.builder calls.

[2021-03-04 18:55] #208 closed

[2021-05-27 02:52] duboisp commented on #212
@william-pattern-esdc I transfered your issue to CDTS group, they are the one that could add a new attribute in "appTop"

[2021-06-14 19:19] AlanReviews opened #213 "Typo in Version or run variants section"
[code]
There is a missing quotation mark for run variants.

[2021-06-15 15:54] AlanReviews commented on #213
The typo is now fixed
[code]

[2021-06-15 15:54] #213 closed

[2021-06-21 16:35] 4rsood opened #214 "The name 'WebTemplateCore' does not exist in the current context"
I am getting the error "The name 'WebTemplateCore' does not exist in the current context" while trying to implement Intranet.canada.ca theme.   The application runs fine on my local VM but this error happens when I deploy the application to our dev environment.   I am using .NET Framework 4.8 and GoC.WebTemplate version v4_0_39.  I have attached the error message details.

Thank You,

[error.txt](

[2021-07-05 12:54] ahmad-shahid commented on #214
Issue resolved (discussed via email).

[2021-07-05 12:54] #214 closed

[2021-07-05 13:33] ahmad-shahid commented on #71
Fixed (v4.0.43)

![image](https://user-images.githubusercontent.com/52757738/124478923-b0ac6e00-dd73-11eb-939e-20edef5c6542.png)

[2021-07-05 13:33] #71 closed

[2021-07-05 13:41] ahmad-shahid commented on #70
Fixed (v4.0.43)

![image](https://user-images.githubusercontent.com/52757738/124480271-164d2a00-dd75-11eb-96cf-d06e1dd575db.png)

[2021-07-05 13:41] #70 closed

[2021-07-05 13:49] ahmad-shahid commented on #76
Fixed: https://validator.w3.org/nu/?doc=https%3A%2F%2Fssl-templates.services.gc.ca%2Fapp%2Fcls%2FWET%2Fgcintranet%2Fv4_0_43%2Fcdts%2Fsamples%2Fsubtheme-iservice-en.html

![image](https://user-images.githubusercontent.com/52757738/124481338-2b768880-dd76-11eb-868f-83e794eb0b7d.png)

[2021-07-05 13:49] #76 closed

[2021-07-05 13:54] ahmad-shahid commented on #135
Implemented for v4.0.43.

![image](https://user-images.githubusercontent.com/52757738/124481993-d9823280-dd76-11eb-9f1f-8a05d7ae347e.png)

[2021-07-05 13:54] #135 closed

[2021-07-05 14:26] ahmad-shahid commented on #65
Fixed (v4.0.43). Mobile view now shows link.

![image](https://user-images.githubusercontent.com/52757738/124486261-67601c80-dd7b-11eb-95b3-58c7a0152b7b.png)

[2021-07-05 14:26] #65 closed

[2021-07-05 14:30] ahmad-shahid commented on #116
Font issue has been fixed in v4.0.43.

This can be confirmed via the latest sample pages.
https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_43/cdts/samples/index.html

[2021-07-05 14:31] #116 closed

[2021-07-05 14:34] ahmad-shahid commented on #178
The content of the sample pages has been updated.

[2021-07-05 14:34] #178 closed

[2021-07-05 17:13] ahmad-shahid commented on #212
Hello, we have released a new version of CDTS (v4.0.43) and the Sign Out button now has an id.

[2021-07-06 15:29] szet0018 opened #215 "Application template menubar accessibility issues"
https://cenw-wscoe.github.io/sgdc-cdts/GCWeb/appTop/apptop_all-en.html

`<ul class="list-inline menu" role="menubar">`

JAWS screen reader issue with the menubar
- JAWS screen reader is not reading the name of the parent menuitem with the submenus e.g. "Second section"
- No issues with NVDA screen reader though, which does read "Second section"

AXE founds issues with the menubar
- AXE is finding

[2021-07-16 20:21] sgdowney opened #216 "Issues with 4.0.43 Update"
Problem Found in
Web Templates Version:* 2.4.0
CDTS Version: 4.0.43
Template:* MVC
Environment:* AKAMAI
Master/Layout: Application
Additional settings:

Problem Description:
The link generated to switch to Basic HTML Version has invalid URL parameters when the original page link contains URL parameters.
Original Page Link
https://int16-ssl.services.gc.qat/irs-sdi/interdec/infodebase-basicinfo/prea

[2021-07-16 20:25] sgdowney opened #217 "Alert not showing the background-color"
Originally reported in GC/Code Web Templates repository.
Alert not showing the background-color

Open

Alert not showing the background-color
Problem Found in

Version:* v4_0_43 GoCWebTemplate v2.4.0
Template:* CoreMVC
Problem Description:

The alert component seems to not be displaying the appropriate background color this issue can be seen on the following page: https://wet-boew.github.io/GCWeb/

[2021-07-20 15:17] szet0018 opened #218 "Canada.ca Theme: abbr element on breadcrumb link"
https://cenw-wscoe.github.io/sgdc-cdts/GCWeb/samples/content-en.html

The Canada.ca link on the breadcrumb is wrapped in an abbr element. The abbr element doesn't provide any additional information. I'm not sure why it is necessary. The abbr element is not used on the breadcrumb links on other Canada.ca pages like: https://www.canada.ca/en/services/jobs.html

[2021-07-22 11:18] #205 closed

[2021-07-22 11:18] laurencechavet commented on #205
fiixed in CDTS 4.0.43

[2021-08-02 13:03] ahmad-shahid commented on #216
This issue was opened under the WET repo - https://github.com/wet-boew/wet-boew/issues/9139

Closing this issue.

[2021-08-02 13:03] #216 closed

[2021-08-02 13:05] ahmad-shahid commented on #217
This issue was opened under the WET repo - https://github.com/wet-boew/wet-boew/issues/9138

Closing this issue.

[2021-08-02 13:05] #217 closed

[2021-08-02 15:31] ahmad-shahid opened #219 "Acronym not supported on menu item"
From: https://gccode.ssc-spc.gc.ca/iitb-dgiit/sds/GOCWebTemplates/DotNetTemplates/-/issues/406
It seems the MenuLinks do not support acronyms. The rendered HTML does not include the abbr element and no tooltip is present as on the breadcrumb items. See my C# code below.
`webTemplateModel.MenuLinks = new List() { new MenuLink() { Text = "Test", Href = "https://test.com", Acronym = "This is a test a

[2021-08-02 16:11] ahmad-shahid opened #220 "Improve deploy on Canada.ca Web Server"
Production: We use Pull Requests combined with a Request From to Principal Publisher to request a release to Production.
A request can take a few days to complete.

Moved from GCCode: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/169

[2021-08-02 17:41] ahmad-shahid opened #221 "Email Inbox"
1. CDTS Inbox: archive old emails
- Find a "cut off" date, everything prior to cutoff date gets archived.

- Find a placeholder to put the archived files
2. Review email folder structure.

Transferred from: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/183, https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/182

[2021-08-02 17:50] ahmad-shahid opened #222 "Documents need a "refresh""
List all of the "documents" that need to be refreshed after a release.
Example: https://cenw-wscoe.github.io/sgdc-cdts/docs/index-en.html#Current_CDTS_supported_versions

Transferred from: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/193

[2021-08-02 18:38] ahmad-shahid opened #223 "Define Staging process"
1. Define Staging process
- Define when to release to staging: How many days do we need to test on staging before going to Production.
- Can we go on staging without having to go to Production, rules might be different for SSL-templates and canada.ca
- Communication: who do we inform that or package is in Staging ? just the dev,s clients, users that reported a bug that is now fixed in the staging

[2021-08-02 18:41] ahmad-shahid opened #224 "Github Workflow"
Create a GitHub Workflow for CDTS that would define:
- When to create an issue and define it's scope.
- When to create a branch and it's scope
- When to create a Milestone
- What to include in a commit, define it's scope
- When to update "Release Branch"
- When to update "Master" Branch.
- When to create a Tag.

Transferred from: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/171

[2021-08-02 18:53] ahmad-shahid opened #225 "Production: Improve deploy on SSL-Templates Web Server"
We use Team Site to "push" our files to Production. The process is long and is error prone since it demands user interaction.

Transferred from: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/168

[2021-08-02 19:04] ahmad-shahid opened #226 "Add Subresource_integrity to wet-en/fr.js files"
We need to secure our download.
https://developer.mozilla.org/fr/docs/Web/Security/Subresource_Integrity

Transferred from: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/164

- [x] Part 1: SRI hash generation module
- [x] Part 2: generation of hashes for internal files.
- [x] Part 3: Implementation of internal SRI in template functions
- [x] Part 4: Generation of hashes for publ

[2021-08-02 19:11] ahmad-shahid opened #227 "Inclusion de wet-boew dans le CDTS"
Est-ce que l'on devrait laisser les développeurs choisir leur version de wet-boew.
Et devrait-on l'inclure dans le CDTS par défaut?
run :-)

Transferred from: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/196

[2021-08-02 19:15] ahmad-shahid opened #228 "Ajouter la documentation / Configurer le système pour travailler avec des terminateurs de ligne (LF)"
Transferred from: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/154

Voir eMail
Nous devrions utiliser (LF) et non CR ou CRLF comme le WET
https://eslint.org/
Validate your JavaScript code. This validation is done by calling grunt eslint
https://tc39.es/ecma262/2020/#sec-line-terminators
https://github.com/wet-boew/wet-boew/blob/master/.gitattributes
•	https://www.edwardthomson.

[2021-08-03 13:45] ahmad-shahid opened #229 "Need "Use Case" documents"
We need to have Use Cases for GCWeb and GCIntranet.

- [ ] Create a "Use Case" Template and define scope.

- [ ] Create an example, show example to client (...) , once approved apply template for each "Business requirement "Use Case"

- [ ] Complete all the Use Cases (Create an issue for each)

- [ ] Approve each Use Case from client (Kamla Fisher ?), this will be done for each issue as mentioned

[2021-08-03 13:48] ahmad-shahid opened #230 "Need Test Case Pages"
- [ ] Make sure we have a test case for each use case.

Transferred from: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/174

[2021-08-03 13:53] ahmad-shahid opened #231 "Add a Code Linter to build pipeline"
Find a Linter that we can use in our Build Pipeline

- [ ] Define which file type we want (create an issue for each)

- [ ] Define what standards we want for each file type

- [ ] Make the Linter standard mandatory for each Pull Request

Transferred from: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/172

[2021-08-03 13:56] ahmad-shahid opened #232 "Improve Release Process - Clients"
Find out who our GCWeb clients are. When we release GCWeb only reach out to the GCWeb clients.

- [ ] Idea: use Analytics to find which application is using GCWeb.

- [ ] Find if that application has a distribution list.

Find out who our GCIntranet clients are. When we release GCIntranet only reach out to the GCIntranet clients.

- [ ] Idea: use Analytics to find which application is using GCIntr

[2021-08-03 14:17] ahmad-shahid opened #233 "Find a way to load css in chrome rel="stylesheet" with any server"
perhaps load it with a script
https://www.geeksforgeeks.org/how-to-load-css-files-using-javascript/

Transferred from: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/194

[2021-08-03 14:19] ahmad-shahid opened #234 "content type mime type no sniffing tag security"
We need to set the right content type in cdts (See accept in request header), and we need to know the configuration of  mime type in the server and perhaps it should return a nosniff

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept
https://www.denimgroup.com/resources/blog/2019/05/mime-sniffing-in-browsers-and-the-security-implications/
https://webhint.io/docs/user-guide/hints/hin

[2021-08-03 15:15] ahmad-shahid opened #235 "One day we could/should optimize"
https://developer.yahoo.com/performance/rules.html?guccounter=1

Transferred from: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/199

[2021-08-03 15:16] ahmad-shahid opened #236 "Upgrade jQuery"
We Should upgrade jquery, because this version has XSS vulnerability

Transferred from: https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/190

[2021-08-09 20:03] ahmad-shahid commented on #212
Resolved. Closing Issue.

[2021-08-09 20:03] #212 closed

[2021-08-09 20:29] ahmad-shahid opened #237 "Create Environment"
Create a SADE environment

Ask for SADE to create an environment for CDTS

Transferred from: *https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/issues/201

*See additional comments

[2021-08-09 20:47] ahmad-shahid commented on #207
Hello, with the release of v4.0.43, you can now set 'displayModalForNewWindow' to false, in order to have no pop up for target="_blank" links

[2021-08-11 13:07] ahmad-shahid commented on #154
Hello, with the latest release, this feature has now been added. You can use 'footerPath' in the appFooter to get the footer directly.

[2021-08-11 13:39] tangqinying commented on #154
Thank you very much for doing this.
I have updated the files. added the 'footerPath' in the appFooter, tested, it’s working.
Thanks again.

Thanks

Tang, Qinying
Direction générale de l'innovation, de l'information et de la technologie
Emploi et Développement social Canada / Gouvernement du Canada
***@***.*** / Tél : 343-552-9721

Information, Innovation and Technology Branch
Employment and Social

[2021-08-26 14:38] plup2 opened #241 "Review/cleanup extra repos following restructure"
The following 3 repositories were found while doing project re-structure.  Should be reviewed and what is not needed should be cleaned up.

(Descriptions are from the pre-restructure README.md)

##### [cdts-sgdc-cdn](https://github.com/wet-boew/cdts-sgdc-cdn)

Used to host the `dist` folder to be able to pull to different servers. [Travis.CI](https://travis-ci.org/wet-boew/cdts-sgdc) is used to bu

[2021-08-27 15:22] plup2 opened #243 "Restructure project from GCcode version"

[2021-08-27 18:18] #243 closed, assigned to plup2

[2021-08-27 18:30] ahmad-shahid opened #245 "Firefox is Slow"
Firefox is Slow

Open

Firefox is Slow

Firefox is slow, other browsers are not.

Here are some snippets taken from an email chain that was sent to CDTS inbox:

Email snippet from Eric Dunsworth:

Hey again,

Just to dig deeper….

The bottom of the network section of Firefox’s dev tools shows an outline of how long the entire page took to download, file size info, etc… The right panel that appears

[2021-08-30 17:55] ahmad-shahid commented on #3
We have moved on from soy. Therefore, I will close this issue.

[2021-08-30 17:55] #3 closed

[2021-08-30 18:01] ahmad-shahid commented on #47
Project was restructured and the we will keep the existing process in place.

[2021-08-30 18:01] #47 closed

[2021-08-30 18:05] ahmad-shahid commented on #48
CDTS does not directly use cookies. Closing this issue.

[2021-08-30 18:05] #48 closed

[2021-08-30 18:07] ahmad-shahid commented on #50
Adobe analytics has been addressed. For issues regarding document.write, please see #55

[2021-08-30 18:07] #50 closed

[2021-08-30 18:11] ahmad-shahid commented on #51
We will look into this issue. Should be an object instead of an array and ensure backwards compatibility.

[2021-08-30 18:16] ahmad-shahid commented on #52
With EJS, everything was set to be escaped except for URL parameters. Closing this issue.

[2021-08-30 18:16] #52 closed

[2021-08-30 18:17] ahmad-shahid commented on #59
Project is now officially on Github. Closing this issue.

[2021-08-30 18:17] #59 closed

[2021-08-30 18:18] ahmad-shahid commented on #60
We are now officially on Github. Closing this issue.

[2021-08-30 18:18] #60 closed

[2021-08-30 18:22] ahmad-shahid commented on #61
Have not heard back. Will close this issue. Re-open if this is still an issue.

[2021-08-30 18:22] #61 closed

[2021-08-30 18:25] ahmad-shahid commented on #66
ExitScript is documented in our normal templates which also implies same functionality for application templates. Closing issue.

[2021-08-30 18:25] #66 closed

[2021-08-30 18:30] ahmad-shahid commented on #78
All samples were revamped which addresses this issue. Closing.

[2021-08-30 18:30] #78 closed

[2021-08-30 18:39] #81 closed

[2021-08-30 18:42] #84 closed

[2021-08-30 18:48] ahmad-shahid commented on #95
Kept for backwards compatibility. Closing issue.

[2021-08-30 18:48] #95 closed

[2021-08-30 18:53] ahmad-shahid commented on #98
This issue has been addressed in v4_0_44. Waiting for release.

[2021-08-30 18:55] #101 closed

[2021-08-30 19:00] ahmad-shahid commented on #103
As per the ticket, the problem is resolved. Closing issue.

[2021-08-30 19:00] #103 closed

[2021-08-30 19:05] #117 closed

[2021-08-30 19:09] ahmad-shahid commented on #126
This was completed last year. Closing this issue.

[2021-08-30 19:09] #126 closed

[2021-08-30 19:11] ahmad-shahid commented on #131
Sample pages were revamped which addressed this issue.

[2021-08-30 19:11] #131 closed

[2021-08-30 19:18] ahmad-shahid commented on #137
Currently, there are no plans in creating PHP templates. The PHP language is currently in restricted use in our department standards.

[2021-08-30 19:18] #137 closed

[2021-08-30 19:22] ahmad-shahid commented on #148
@StdGit Can you please provide more details for this issue?

[2021-08-30 19:23] ahmad-shahid commented on #149
Duplicate of #79

[2021-08-30 19:23] #149 closed

[2021-08-30 19:25] ahmad-shahid commented on #153
Project has been restructured and this is addressed in the new code.

[2021-08-30 19:25] #153 closed

[2021-08-30 19:29] ahmad-shahid commented on #161
hey @Kamla55, would you know if the clients got back to you regarding this issue? Thanks.

[2021-08-30 19:29] #165 closed

[2021-08-30 19:30] ahmad-shahid commented on #166
Project was restructured. Closing issue.

[2021-08-30 19:30] #166 closed

[2021-08-30 19:31] ahmad-shahid commented on #167
Fixed in version v4_0_44.

[2021-08-30 19:33] ahmad-shahid commented on #169
We get this file from the WET package. It would be best to ask this question in the WET repo.

[2021-08-30 19:33] #169 closed

[2021-08-30 19:38] ahmad-shahid commented on #171
refFooter only contains <script> tags and if javascript is disabled, then the static file would be of no use. Therefore, I'll close this issue.

[2021-08-30 19:38] #171 closed

[2021-08-30 19:49] ahmad-shahid commented on #172
Static files are now being generated by the build.

[2021-08-30 19:49] #172 closed

[2021-08-30 19:51] ahmad-shahid commented on #173
Favicon.ico is provided by WET. We cannot make modifications.

[2021-08-30 19:51] #173 closed

[2021-08-30 19:55] ahmad-shahid commented on #191
Project has been restructured. Closing issue.

[2021-08-30 19:55] #191 closed

[2021-08-30 19:56] ahmad-shahid commented on #200
Project has been restructured. Closing this issue.

[2021-08-30 19:56] #200 closed

[2021-08-30 19:59] #207 closed

[2021-08-30 20:11] ahmad-shahid commented on #227
We cannot let developers choose the version of WET.

[2021-08-30 20:11] #227 closed

[2021-08-30 20:12] #228 closed

[2021-08-30 20:14] ahmad-shahid commented on #229
hey @jeanbenoitrochon, would you know if this issue is still valid? Thanks.

[2021-08-30 20:15] nschonni commented on #153
This isn't addressed by the project restructure, but would be by https://github.com/wet-boew/cdts-sgdc/pull/250

[2021-08-30 20:16] nschonni commented on #153
Sorry, that particular might have been addressed, but not the ongoing Dependabot setup

[2021-08-30 20:18] ahmad-shahid commented on #233
@StdGit Would you have more details for this issue? Thanks.

[2021-08-30 20:20] #235 closed

[2021-08-30 20:20] ahmad-shahid commented on #236
We use jQuery that is provided by WET. Closing issue.

[2021-08-30 20:20] #236 closed

[2021-08-30 20:21] ahmad-shahid commented on #237
The site was created.

[2021-08-30 20:21] #237 closed

[2021-08-31 13:50] XiuJuanXia opened #256 "Alert info: i ball doesn't pass colour contrast test"
In the alert info, the i ball doesn't pass colour contrast test. The current contrast ratio is 2.956:1. And the minimum contrast ratio should be 3:1 based on WCAG 2.1 1.4.11 Non-text Contrast. This is an accessibility issu.e
Foreground colour: #D7FAFF
Background colour: #269ABC

Example pages that have the alert info:
https://cenw-wscoe.github.io/sgdc-cdts/docs/index-en.html
https://cenw-wscoe.git

[2021-09-09 17:13] plup2 commented on #234
@ahmad-shahid Now that the content-type on the new servers have been double-checked, does that mean we can close this issue?

[2021-09-09 18:41] ahmad-shahid commented on #234
Yes, you're right. I'll close this now.

[2021-09-09 18:41] #234 closed

[2021-09-09 20:20] eniangab opened #262 "wet-en.js returning 404"
We use wet toolkit for our application MITRACK, we've been having this issue on and off starting around 13:30 on 2021-09-09
Could you please help, we've never seen this before:

Failed to load resource: the server responded with a status of 404 (Not Found) wet-en.js:1
Failed to load resource: the server responded with a status of 404 (Not Found) soyutils.js:1
Failed to load resource: the server re

[2021-09-10 14:47] duboisp commented on #262
@ahmad-shahid see the above request. Thanks

[2021-09-10 15:11] ahmad-shahid commented on #262
There was a fix that was put in this morning. Can you confirm if you are still seeing this error?

[2021-09-10 15:24] ghost-girl commented on #262
@ahmad-shahid The error still occurs, all resources for the intranet template coming from https://ssl-templates.services.gc.ca/ appear to return 404's.

[2021-09-10 15:31] ghost-girl commented on #262
@ahmad-shahid Template appears to load correctly but after doing a hard refresh CTRL+F5 all resources return 404's for Intranet template.

[2021-09-10 15:50] ahmad-shahid commented on #262
@ghost-girl thank you. The team is investigating. As soon as there is an update, I'll provide it here.

[2021-09-10 16:36] eniangab commented on #262
Latest test at 12:25PM seems to be ok.
I'll report  back if it shows up again.

Thank you.
Asuquo Eniang

Programmer-Analyst, Digital Services Directorate - Solution Center - Marine Portfolio
Transport Canada / Government of Canada
***@***.******@***.***> / Tel: 613-447-2976 / TTY: 1-888-675-6863

Programmeur-analyste, direction générale des services numériques - centre des solutions - portefeuill

[2021-09-13 20:18] ahmad-shahid commented on #262
This issue should now be fixed. There shouldn't be any 404s. Thanks.

[2021-09-15 18:31] #262 closed

[2021-09-28 13:24] ahmad-shahid commented on #80
Comparing with the error page seen on https://www.canada.ca/test.html, couple of other changes are required. The font needs to be updated and the search bar needs placeholder text.

[2021-10-05 17:18] ahmad-shahid commented on #197
Moving to backlog:

Chat wizard is still an unstable (provisional) feature (https://wet-boew.github.io/themes-dist/GCWeb/demos/chatwizard/chatwizard-en.html).

Also, from email "Chat wizard component is now months away from WET documentation, and we are going to do a work around, using the Wizard code as a plugin / not in WET"

[2021-10-05 17:55] ahmad-shahid commented on #181
Will update exitscript function name and remove the unused loaddoc function

[2021-10-05 19:29] ahmad-shahid commented on #256
Hello, the alert info has been updated. We are just waiting for deployment.

[2021-10-06 14:42] #129 closed

[2021-10-12 15:24] StdGit opened #286 "nsd.js is buggy"
This script is buggy

[2021-10-12 17:13] ahmad-shahid commented on #286
Hello, what is this script?

[2021-10-12 18:11] plup2 opened #288 "Enhancement to TestLinks"
As discussed, the TestLinks script/function could be enhanced to add:

- Ability to skip entire process depending on the existence of an environment variable (for example by doing something like `if (process.env.DISABLE_TESTLINKS) return; `)
- Use HTTP HEAD request instead of GET (so the body of the pages we test is not downloaded, this should reduce the run time by a lot, especially when going th

[2021-10-12 18:22] StdGit commented on #286
You can find it here.
https://iservice.prv/fra/si/securite/categorisation/outil-categorisation.shtml
It is using cdts

![image](https://user-images.githubusercontent.com/5129874/137008846-25a438f8-9881-47bc-ae6b-273f700e3d0b.png)

[2021-10-13 20:48] ahmad-shahid opened #290 "Update Canada.ca search"
- [x] Update the Canada.ca search URL

Use https://www.canada.ca/en/sr/srb.html instead of https://www.canada.ca/en/sr.html.

- [x] Remove hidden inputs

[code]

[2021-10-14 13:29] plup2 opened #291 "Consider linter for EJS templates"
Should look into adding this to our EJS compile script: https://www.npmjs.com/package/ejs-lint

[2021-10-14 14:41] #288 closed, assigned to ahmad-shahid

[2021-10-14 14:51] ahmad-shahid commented on #226
This may cause an issue if one updates CDTS but forgets to update the integrity string. (will require further discussion)

[2021-10-14 15:28] ahmad-shahid commented on #148
@StdGit Can you please provide more details for this issue?

[2021-10-19 13:01] #291 closed, assigned to plup2

[2021-11-01 20:28] #286 closed

[2021-11-02 12:37] ahmad-shahid commented on #256
The alert has now been updated and is live.

[2021-11-02 12:38] ahmad-shahid commented on #256
![image](https://user-images.githubusercontent.com/52757738/139847874-66449705-2e93-4c77-ae3b-ea22fb2b44ca.png)

[2021-11-02 12:53] ahmad-shahid commented on #155
This has now been fixed.

[2021-11-02 12:53] ahmad-shahid commented on #155
![image](https://user-images.githubusercontent.com/52757738/139850401-d1e9750b-54d0-4caa-99bb-b50087c3cc7f.png)

[2021-11-02 13:02] ahmad-shahid commented on #203
This has been fixed.

[2021-11-02 13:10] ahmad-shahid commented on #206
Fixed. Skip links are now wrapped in a nav.

[2021-11-02 13:15] ahmad-shahid commented on #204
The `nav` elements now have aria-labelledby and aria-label as per the suggestion above.

[2021-11-02 20:20] ahmad-shahid opened #314 "Update sample pages"
- [x] Update sample pages: Add comment in the code above the script tags to indicate the full path of wet-en.js and soyutils.js (For canada.ca, ssl-templates, and templates.) Also, add a comment for point to the run version Ex. "to point to run version, use /rn/"
- [x] Get rid of samples on Github pages and provide links to the updated samples

[2021-11-04 12:29] XiuJuanXia commented on #256
Issue is fixed and closing the issue.

[2021-11-04 12:29] #256 closed

[2021-11-04 15:15] plup2 commented on #226
As discussed, part 2 shouldbe handled in the "preprocess" phase of EJSModuleGenerate module so we end up with something like this:
`<link rel="stylesheet" href="<%- wet.builder.environment(pr.cdnEnv) %>wet-boew/css/theme.min.css" <% if (pr.sriEnabled) { %>integrity="<^- sriHash('public/gcweb/cdtsfixes.css') ^>" crossorigin="anonymous"<% } %>>`

[2021-11-04 19:33] ahmad-shahid commented on #314
Done. (#317)

[2021-11-04 19:33] #314 closed

[2021-11-04 20:33] ahmad-shahid commented on #97
Requested Stephane Gouin to confirm if this issue was still valid but did not receive a response. Closing issue.

[2021-11-04 20:33] #97 closed

[2021-11-04 20:33] #155 closed

[2021-11-04 20:35] #203 closed

[2021-11-04 20:37] ahmad-shahid commented on #206
![image](https://user-images.githubusercontent.com/52757738/140416277-e505b8f0-f042-4ec9-9806-7126d1d19ea5.png)

[2021-11-04 20:37] #206 closed

[2021-11-04 20:38] #204 closed

[2021-11-04 20:40] #148 closed

[2021-11-05 15:17] ahmad-shahid commented on #146
This issue has been fixed.

[2021-11-05 15:17] #146 closed

[2021-11-08 19:13] ahmad-shahid commented on #147
Issue has been fixed; role="none" added as per the W3C guidelines (https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-1/menubar-1.html).

[2021-11-08 19:13] #147 closed

[2021-11-09 18:03] ahmad-shahid commented on #215
Hello, there was a new deployment done and the code is following the W3C guidelines. Can you please test again?

[2021-11-09 19:32] ahmad-shahid opened #326 "Update to wet-boew v4.0.44"

[2021-11-10 19:28] szet0018 commented on #215
I tested with JAWS 2020 on Chrome and the reader correctly reads the menubar now.

I'm still getting AXE issues though

Required ARIA children role not present: group, menuitemradio, menuitem, menuitemcheckbox
Required ARIA parents role not present: menu, menubar, group
List item does not have a <ul>, <ol> parent element without a role, or a role="list"

Adding role="presentation" to the <li> in t

[2021-11-16 14:38] #290 closed

[2021-11-16 18:32] ahmad-shahid opened #334 "Update changelog for v4.0.44 release"

[2021-11-16 20:57] #326 closed

[2021-11-16 21:23] ahmad-shahid opened #335 "Update the exiturl sample page"

[2021-11-17 14:47] plup2 commented on #2
Secret detection is already handled by Git, verified commits are setup.  CodeQL pipeline is being setup in upcoming PR.

[2021-11-17 16:38] #2 closed

[2021-11-17 19:02] #335 closed

[2021-11-18 21:30] ahmad-shahid opened #339 "Update to WET 4.0.44.5"

[2021-11-19 14:21] #339 closed

[2021-11-19 16:14] ahmad-shahid opened #341 "GCIntranet sign in/sign out button not rendering properly on mobile"
![image](https://user-images.githubusercontent.com/52757738/142655259-06131371-5988-4422-9a69-e92357b609ab.png)

[2021-11-23 14:14] #341 closed

[2021-11-30 20:48] chyne opened #353 "HTML Entities in language link"
In my appTop section I was rendering the lngLinks text as below, with HTML Entity &amp;#231; for "ç".

This rendered as "Français" up to 4.0.44. In 4.0.44 this now renders as "Fran&amp;#231;ais".

Is this change intentional?

[code]

[2021-12-01 18:07] plup2 commented on #353
Not entirely intentional, no.  In this release we switched templating library and the intention was to preserve the character escaping where it existed in the old sources.  However, we failed to notice that the new library escapes strings more aggressively and our tests didn't include HTML entities.

This will be corrected as soon as we can. If you're using CDTS by pointing to the GCintranet templ

[2021-12-01 18:09] plup2 commented on #353
@ahmad-shahid As discusssed, I'll tweak the "escape" feature by removing `&`, which will leave us with `<`, `>`, `"` and `'`

[2021-12-06 18:13] ahmad-shahid opened #357 "Fix comment in breadcrumbs"

[2021-12-07 19:27] #357 closed

[2021-12-14 20:42] plup2 commented on #353
This bug is now fixed in both intranet and internet environments.

[2021-12-14 20:42] #353 closed

[2021-12-14 21:15] ahmad-shahid opened #364 "Update Test Links"
- [x] Change the order of tests
- [x] Investigate issuing warnings
- [x] Ignore the following URL: "https://recherche-search.gc.ca/rGs/s_r?#wb-land"

[2021-12-14 21:16] ahmad-shahid opened #365 "Test Links Timeout"
- Check default duration of timeout
- Ignore timeouts -> log a warning

[2021-12-15 20:03] plup2 commented on #364
@ahmad-shahid   Turns out the warnings issued by the "workflow command" (https://docs.github.com/en/actions/learn-github-actions/workflow-commands-for-github-actions) do NOT show up in PRs.

So I'll go with what we discussed: I'll add a check that will make it so if the environment variable `DISABLE_TESTLINKS_THROWONFAIL` is set, the scripts will show the error in the log but not throw the excepti

[2021-12-15 20:42] #364 closed

[2021-12-16 16:21] ahmad-shahid opened #367 "Analytics for GCIntranet"

[2021-12-17 15:42] plup2 opened #368 "Tweak TestLink.testFileLinks to make it more re-usable"
As discussed, a few changes need to be made to TestLinks.js to make it re-usable by the DevCoP github pages pipeline. Changes would consist of:

- [x] Changing `testFileLinks` to take `directories`, `exceptionSyntaxLinks`, `exceptionHTTPLinks` and `exceptionIntranetLinks` as parameters instead of being const. `directories` is mandatory, the other 3 can default to an empty array.
- [x] Add comment/

[2022-01-06 13:48] #368 closed

[2022-01-11 14:26] rogercote8 opened #380 "The element header must not appear as a descendant of the header element."
I work at ESDC.  When our accessibility team is testing our external interface we keep getting the following error:

**The element header must not appear as a descendant of the header element.**

We are using the Microsoft Power App Portal.  We have implemented CDTS using the builder method, therefore connecting to the latest version of CDTS.  It appears that the issue is caused by the menu code.

[2022-01-11 22:13] ahmad-shahid opened #381 "Section preFooter not rendering correctly if showShare is set to True"

[2022-01-12 18:35] #381 closed

[2022-01-13 15:43] ahmad-shahid commented on #380
@plup2 The first header element comes from CDTS but the second is from WET (to create the mobile view). We'll have to discuss this to see how to proceed.

[2022-01-13 21:26] ahmad-shahid opened #383 "Create a test to check the validity of the available social media sites"

[2022-01-14 19:24] ahmad-shahid opened #384 "Add parentheses in the regex in Testlinks.js"
Test thoroughly!

[2022-01-17 16:56] #384 closed

[2022-01-17 21:10] laurencechavet opened #394 "input type hidden _charset_ for the search form"
Hi

When downloading the versions of the CDTS (up to the latest [v4.0.44 - Canada.ca theme](https://cenw-wscoe.github.io/sgdc-cdts/GCWeb/static/Gcwebstatic-v4_0_44.zip)), I see in the top_en.html, line 21 the input type=hidden name=_charset_ for the form to search.
`<input type="hidden" name="_charset_" value="UTF-8">`

This creates a HTML validation error as per the [spec for hidden state](https:

[2022-01-18 14:19] ahmad-shahid commented on #383
Can use an existing test. All of the sites needs to be in the test case. If one of them isn't valid anymore, the test case will fail.

[2022-01-18 15:55] plup2 commented on #394
Not sure why this wasn't caught by our own validation.

@ahmad-shahid As discussed, I tested with our windows-1252 test app and confirmed that this `value` attribute is ignored by the browser anyway and the charset of the page is sent no matter what, so we can/should definitely get rid of the `value` attribute for this input.  **BUT** we should also add `accept-charset="utf-8"` to the `form` eleme

[2022-01-19 15:33] ahmad-shahid commented on #380
Issue in WET created a while back: https://github.com/wet-boew/wet-boew/issues/8335

[2022-01-20 22:38] #394 closed

[2022-01-26 20:02] DBlaisAsc opened #399 "Menu with data-ajax-replace"
I'm using WET (4.0.44) with GCWeb for an intranet application.  I want to change menu (canada) for my custom menu.  I changed url of attribute `data-ajax-replace` for a local link.  My local link return the menu I need.  Everything for fine, except for `target="_blank"` are striped.

I found in the `WET-boew.js` file, in the `ajxFetched` function, if I change the line `content = fetchObj.response;

[2022-01-27 15:01] DBlaisAsc commented on #399
Please delete mu issue.  This is with WET and not with CDTS.

[2022-01-27 15:01] #399 closed

[2022-01-27 15:34] GarthMartin opened #400 "Errors when trying to load mediatcontrols.html - CORS request rejected from canada.ca"
We have started getting errors all of a sudden with pages that have embedded videos.   The call to https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/assets/mediacontrols.html is getting rejected by canada.ca saying
Access to XMLHttpRequest at 'https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/assets/mediacontrols.html' from origin 'https://pcis-sipc.tbs-sct.gc.ca' has been bloc

[2022-01-27 16:06] ahmad-shahid commented on #400
Hello, we are not aware of any changes. I'll try to find out and get back to you.

[2022-02-01 20:07] rogercote8 opened #409 "Issue with 'Switch to Basic HTML Version' when using the Search on top of the CDTS template"
We are using the CDTS template for our app.  Latest online version.  We are mostly using Edge as a browser.
When using the search box on top, the link to switch to Basic HTML version is not working.  We notice that the rendering looks like the following:

![image](https://user-images.githubusercontent.com/76535263/152042728-c1e44b59-fb81-44f3-971b-0784899f3cf9.png)

Clicking on the link does not s

[2022-02-02 15:43] ahmad-shahid commented on #400
Hello, just an update: as far as the CDTS files go, canada.ca has not changed the CORS configuration (all our files confirm CORS header).

[2022-02-02 19:11] rogercote8 commented on #409
We are working with a Power Apps Portal from Microsoft.  Power Apps is using the URL parameter to get to specific page.   Here is an example of a URL:
https://rhrrp-pdrp-dev.powerappsportals.com/en/rh-projects-list/arr/submit/?id=dc39cd51-747f-ec11-8d21-000d3a0c7445

Now when loading the page, the wbdisable parameter is added to the URL as follow.  It is adding an extra parameter using &#38; to se

[2022-02-03 14:18] ahmad-shahid opened #411 "Link returning 404"
The following link found in the home-en/fr sample should be replaced with a working link.

https://wet-boew.github.io/themes-dist/GCWeb/img/520x200.png

[2022-02-03 16:37] ahmad-shahid commented on #409
We were able to reproduce the issue. The fix is ready. It will be deployed by next week.

[2022-02-03 19:02] rogercote8 commented on #409
Super, thanks.

From: Ahmad ***@***.***>
Sent: February 3, 2022 11:38 AM
To: wet-boew/cdts-sgdc ***@***.***>
Cc: Côté, Roger RC [NC] ***@***.***>; Author ***@***.***>
Subject: Re: [wet-boew/cdts-sgdc] Issue with 'Switch to Basic HTML Version' when using the Search on top of the CDTS template (Issue #409)

We were able to reproduce the issue. The fix is ready. It will be deployed by next week.

—
R

[2022-02-03 21:28] #411 closed

[2022-02-08 20:51] plup2 opened #416 "cdts builder environment: ie11 error"
As discussed, while we no longer officially support IE11 we can still change the environment function so it doesn't flat out crash.

[2022-02-10 13:51] ahmad-shahid opened #418 "Remove font-awesome"
CDTS will remove font awesome and if someone needs it, they can add the link to their application.

[2022-02-10 13:53] ahmad-shahid opened #419 "Update WET to the latest GCWeb release (will compile with 4.0.47.1 of wet-boew)"

[2022-02-11 20:02] ahmad-shahid opened #422 "Intranet URLs failing"

[2022-02-14 15:59] j-paquette opened #426 "TestLinks: regex treats markdown [Link Title](page-slug) as one Url"
The current regex const treats markdown links that use a Url in both [Link Title](page-slug) as one Url, causing an error.

[2022-02-14 17:46] #426 closed

[2022-02-14 19:56] #419 closed

[2022-02-22 20:51] ahmad-shahid commented on #365
As discussed, closing for now. We can revisit at a later time.

[2022-02-22 20:51] #365 closed

[2022-02-23 19:18] adam2 opened #434 "Creating tables dynamically using jQuery does not work in CDTS v4_0_44"
Hi,

I've found a bug with the CDTS v4_0_44 templates.  I'm not sure if this bug is in CDTS or if it is in WET.  We found it when attempting to upgrade our sites to the v4_0_44 templates.

The issue is that when using jQuery to dynamically create an HTML table, it doesn't work in CDTS v4_0_44.  Some <row> and <td> elements you would expect to be added are not being added.  It's as if the jQuery ap

[2022-02-24 15:06] ahmad-shahid commented on #434
Hello, it looks like this issue is in WET. To test, I changed the file **wet-boew.min.js** to version v4.0.43 but kept the version of CDTS the same and the table issue resolved. It seems that a bug came about somewhere in between WET version v4.0.43 and v4.0.44.5.

The WET team will be able to assist. An issue can be created here.: https://github.com/wet-boew/wet-boew/issues

[2022-03-01 03:36] duboisp commented on #434
See my answer here: https://github.com/wet-boew/wet-boew/issues/9293#issuecomment-1054968565

This is not an issue, it is intentional by design.

Cheers

[2022-03-01 04:12] adam2 commented on #434
This "intentional, by design" decision break a lot of our JavaScript code.  Probably it affects many other departments as well, which may not have noticed or commented on the issue this far.  CDTS 4.0.43, which still works properly, is still the "run" version.  I would expect more issues logged in the future for breaking basic jQuery functionality.

[2022-03-01 14:47] duboisp commented on #434
For the record.

The change made at jQuery was a security patch to prevent XSS attack.

We are available to discuss more during our weekly Tuesday afternoon live support. Or alternatively you can find my contact information in GCDirectory and we will coordinate a meeting to discuss further.

[2022-03-02 16:12] sgdowney opened #441 "WET version hosted on CDTS"
What is the specific WET version supported by CDTS?  There are multiple releases for 4.0.44.
4.0.44
4.0.44.1
4.0.44.2
4.0.44.3
4.0.44.4
4.0.44.5

[2022-03-02 16:28] ahmad-shahid commented on #441
Hello, CDTS is currently supporting WET v4.0.44.5.

You can find this information summarized on our CDTS documentation site here:

https://cenw-wscoe.github.io/sgdc-cdts/docs/index-en.html#Current_CDTS_supported_versions

[2022-03-02 19:41] ahmad-shahid commented on #409
Update of run version to v4.0.44 has been postponed because of unrelated problems. Once the deployment is done, I will provide an update here.

[2022-03-02 19:42] #400 closed

[2022-03-02 19:46] #245 closed

[2022-03-02 19:55] ahmad-shahid commented on #241
The repositories have been archived. They will be deleted at the completion of the milestone.

[2022-03-07 20:02] ahmad-shahid commented on #232
Something to look into: Does canada.ca have web statistics?

[2022-03-07 20:03] ahmad-shahid commented on #225
Moving to cloud will resolve this issue.

[2022-03-07 20:03] #225 closed

[2022-03-07 20:05] ahmad-shahid commented on #224
It will be revisited when the cloud release process has been defined. .

[2022-03-07 20:05] #224 closed

[2022-03-07 20:07] ahmad-shahid commented on #223
Look into GCCode wiki and move the documentation over to Github.

https://gccode.ssc-spc.gc.ca/iitb-dgiit/nw-ws/sgdc-cdts/-/wikis/How-to-guide-on-making-changes-to-CDTS-teamsite

[2022-03-07 20:09] ahmad-shahid commented on #222
#223 This can be part of the documentation.

[2022-03-07 20:13] #220 closed

[2022-03-07 20:22] ahmad-shahid commented on #197
Closing this issue. We can revisit if when it is time to implement this feature.

[2022-03-07 20:22] #197 closed

[2022-03-07 20:23] ahmad-shahid commented on #174
Closing, Can be reopened if this becomes an issue.

[2022-03-07 20:23] #174 closed

[2022-03-07 20:25] ahmad-shahid commented on #161
Closing. If this issue occurs, we can reopen.

[2022-03-07 20:25] #161 closed

[2022-03-07 20:26] #134 closed

[2022-03-07 20:28] ahmad-shahid commented on #125
IE is no longer supported. Closing this issue.

[2022-03-07 20:28] #125 closed

[2022-03-07 20:41] ahmad-shahid commented on #19
Closing this issue due to inactivity. Will be revisited in the future.

[2022-03-07 20:41] #19 closed

[2022-03-07 20:42] ahmad-shahid commented on #9
Deployments will be done using Github Actions and ADO.

[2022-03-07 20:42] #9 closed

[2022-03-07 20:43] #441 closed

[2022-03-08 13:36] s-laugh commented on #19
I think closing this suggests this idea won't be considered, now or ever; is that the case?

[2022-03-11 19:35] viktorw1 opened #444 "AjaxControl Toolkit - CalendarExtender: Error"
I am currently using the latest CDTS templates in my webform application, GoC.WebTemplate.Components, GoC.WebTemplate.Components.Framework and GoC.WebTemplate.WebForms, but experiencing a problem when trying to use the AjaxControl toolkit control CalendarExtender.

MasterPageFile="~/GoC.WebTemplate/GoCWebTemplate.Application.Master"
<asp:Label runat="server" ID="lblLoginDate" for="startdate" CssCl

[2022-03-11 20:53] viktorw1 commented on #444
In order to get the CalendarExtender to work, I had to add the asp:PlaceHolder in the master page and add runat="server" in the head tag (GoC.WebTemplate.WebForms.WebTemplateMasterPage), but not sure what the impact would be as I didn't build this page.

Can the CDTS team confirm this is OK to do?

Please see code below.

Thanks

<head runat="server">
        <meta charset="utf-8"/>

        <titl

[2022-03-11 20:59] delisma opened #445 "Bug - Global search not configure properly"
## Describe the bug
When using the global search on a page with the CDTS template, the submit points to https://recherche-search.gc.ca instead of https://www.canada.ca/en/sr/srb.html and produce the error display below.

<img width="1745" alt="image" src="https://user-images.githubusercontent.com/2599251/157513406-2e4c1394-4b7d-4b87-80b2-1ab61f0501fb.png">

## To Reproduce
Steps to reproduce the b

[2022-03-11 21:16] ahmad-shahid commented on #445
Hello, I don't think that site is using CDTS. You can report this issue through the "Report a problem on this page" button on the page you provided.

[2022-03-14 16:07] ahmad-shahid commented on #444
Hello ideally we encourage that the template files should not be touched but if this is the only solution and there is no other workaround to solve your error, then it should be okay (for now).

This will be an issue for future versions. Please keep in mind that you will have to make this change every time you update to a newer version of Webforms because you should have the latest master template

[2022-03-15 17:37] #219 closed

[2022-03-15 20:46] plup2 opened #452 "Tweak pipeline to optimize testlinks runs"
- [ ] Current ci.yml: add DISABLE_TESTLINKS=true to environment variables.
- [ ] Create new `testlinks.yml` which just call `npm run test-links` (requires change to package.json to add the script_

[2022-03-15 20:48] plup2 commented on #241
`cdts-sgdc-dist` will be repurposed for cloud releases to the WCMS environment

[2022-03-16 19:53] plup2 opened #453 "Non utf-8 characters in menu files"
in public/global:
- sitemenu-en.html
- esdcmenu-eng.html
- esdcmenu-fra.html
- esdcmenu1-eng.html
- esdcmenu1-fra.html

[2022-03-17 13:29] viktorw1 commented on #444
Thanks for your help Ahmad.

[2022-03-17 13:29] #444 closed

[2022-03-18 13:02] #453 closed

[2022-03-18 13:16] j-paquette opened #465 "TestLinks- add feature to skip binary files"
To add a feature to TestLinks.js to skip binary files (jpg, png, pdf, etc) when validating Urls.
Add isbinaryfile as a dependancy: https://www.npmjs.com/package/isbinaryfile
Add code in getFiles to skip binary files before checking.
Keep track of how many binary files were skipped.

[2022-03-21 14:30] ahmad-shahid commented on #367
Merged - #451

[2022-03-21 14:30] #367 closed

[2022-03-21 14:39] plup2 opened #470 "A link on a sample page no longer valid"
First good news, our shcedule TestLink run ran this morning successfully and returned no error.

But the run done on merge to master just failed with "csszengarden.com" no longer working. (https://github.com/wet-boew/cdts-sgdc/runs/5628694275?check_suite_focus=true).  I checked both from work proxy and home computer and it seems to be correct. We should probably changed our external site to someth

[2022-03-21 14:42] ahmad-shahid commented on #470
I remember that site going down a while back as well. Definitely time to change it.

[2022-03-21 17:38] #470 closed

[2022-03-22 15:40] adam2 commented on #434
Since this is clearly a WET bug, and not a CDTS bug, I suggest closing this one.

Thank you ahmad-shahid for looking at it.

[2022-03-22 15:40] #434 closed

[2022-03-23 18:39] ahmad-shahid commented on #222
Merged - #466

[2022-03-23 18:39] #232 closed

[2022-03-23 18:40] ahmad-shahid commented on #223
Merged - #466

[2022-03-23 18:40] #223 closed

[2022-04-06 14:46] #445 closed

[2022-04-07 21:03] #465 closed

[2022-04-20 15:06] ahmad-shahid opened #499 "ECCC Theme not working"
This issue was originally raised in .NET templates: https://gccode.ssc-spc.gc.ca/iitb-dgiit/sds/GOCWebTemplates/DotNetTemplates/-/issues/437

[2022-04-27 19:19] #499 closed

[2022-05-02 17:37] plup2 commented on #241
I updated the description of the issue to include a 4th repo

[2022-05-04 12:42] ahmad-shahid commented on #241
The 4h repo `cdts-sgdc-docs` has now been archived. It will be deleted at the completion of the milestone.

[2022-05-12 12:41] ahmad-shahid opened #521 "Update ssl-templates.services/templates.services URLs"
New cloud link: https://cdts.service.canada.ca/

[2022-05-12 12:42] ahmad-shahid opened #522 "Update WET to latest"

[2022-05-12 19:49] #521 closed

[2022-05-24 15:26] #522 closed

[2022-05-25 12:42] ahmad-shahid opened #533 "Share button not changing language in the samples"

[2022-05-25 15:39] #533 closed

[2022-05-31 12:57] ahmad-shahid opened #535 "Add Adobe Invitation Manager version 1.0"
GCWeb Reference: https://github.com/wet-boew/GCWeb/pull/1740

[2022-06-21 14:07] chrisblack opened #547 "Menu Disappears in Medium Width Mode"
Steps to Re-produce:
1. Go to https://cenw-wscoe.github.io/sgdc-cdts/docs/index-en.html
2. Maximize window and top menu bar display as a series of button links.
3. Snap window to half screen width, which causes the top-menu to disappear.
4. Shrink the window width smaller than half the screen resolution and the menu re-appears as a drop-down.

Screen resolution:  1920 X 1200
OS: Windows 11 and Win

[2022-06-29 14:44] ahmad-shahid commented on #547
Hello, the problem is now fixed. The menu should still be visible for a medium width.
Thank you!

[2022-06-29 15:40] chrisblack commented on #547
Hello, I just checked and the menu isn't showing for medium width:
![image](https://user-images.githubusercontent.com/2004685/176478144-9b6efbc1-0c49-4d9d-81a1-f81d8a329ef9.png)

[2022-06-29 19:36] ahmad-shahid commented on #547
This is strange because it looks good on my end and I just had it verified by my team. Can you try to hard refresh your page and try again?

[2022-08-17 21:12] rogercote8 opened #577 "v4_0_45 causes issue on Power Apps Portal, list are no longer rendered due to poor network connectivity"
All of our Portal used the run version at ESDC.  After the release last night we ran into an issue with rendering some part of our web sites.  We have determined that the issue was caused when executing wet.builder.refFooter.  When this is executed, the site will not work well for Firefox and Chrome and only work for some people with Edge.  It seems to be caused by a very slow load of your code.

[2022-08-18 20:07] ahmad-shahid commented on #577
Hello, as a version release, v4.0.45 has been out for about 3 months now and we haven't had any issues regarding network connectivity. I'm guessing this may be specific to Power Apps Portal.

Just for diagnosis, have you tried using v4.0.44 to see if this issue happens? It'll be easier to determine which version this issue started happening in. Thanks!

[2022-08-18 20:26] rogercote8 commented on #577
Thanks for looking up.

We experience the same issue (very easy to reproduce) with v4_0_44 and v4_0_45.  Only v4_0_43 works for us presently.

If I use v4_0_44 or v4_0_45 and remove the following piece of code from our template:

<script>
    document.write(wet.builder.refFooter({
        "isApplication": true
    }));
</script>

Then the issue goes away.

Roger

From: Ahmad ***@***.***>
Sent: Aug

[2022-08-18 20:36] ahmad-shahid commented on #577
I'll investigate on my end but it looks like document.write to be the issue. Good news is that we are in the process of introducing a new way of implementing CDTS without the use of document.write. I believe this should solve this issue. We will be releasing this as part of v4.0.46.

[2022-08-18 20:52] rogercote8 commented on #577
Thanks.  I hope you are right.

From: Ahmad ***@***.***>
Sent: August 18, 2022 4:36 PM
To: wet-boew/cdts-sgdc ***@***.***>
Cc: Côté, Roger RC [NC] ***@***.***>; Author ***@***.***>
Subject: Re: [wet-boew/cdts-sgdc] v4_0_45 causes issue on Power Apps Portal, list are no longer rendered due to poor network connectivity (Issue #577)

I'll investigate on my end but it looks like document.write to be t

[2022-08-24 20:56] #218 closed

[2022-08-24 20:57] #215 closed

[2022-08-29 17:06] ahmad-shahid opened #592 "refTop.html has an incorrect URL"
https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_45/css/noscript.min.css -> https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_45/wet-boew/css/noscript.min.css

[2022-08-29 17:16] plup2 opened #593 "Update html-validate to 7.3.3"
Now that html-validate is fixed, we can manually update it to 7.3.3 (because we told dependabot not to)

[2022-08-29 17:42] ahmad-shahid commented on #592
Issue came via email

[2022-08-29 20:09] #592 closed

[2022-09-12 13:27] ahmad-shahid opened #604 "Dark Theme Implementation"
Request came through email.

[2022-09-12 13:45] ahmad-shahid commented on #577
Hello, I would like to further investigate this issue as I want to be certain whether this issue is linked with CDTS, document.write, or with WET.

Do you have a development environment of some sort that I can use to troubleshoot this problem? Or any other way of accessing Power Apps Portal? Thank you.

[2022-09-13 16:13] #604 closed

[2022-09-22 18:17] ahmad-shahid opened #607 "Page section missing lang attribute"
Originally, opened in the .NET Templates repo.

More info here: https://gccode.ssc-spc.gc.ca/iitb-dgiit/sds/GOCWebTemplates/DotNetTemplates/-/issues/447

[2022-09-27 17:09] meekoH opened #616 "Font-awesome icons no longer loading in v4_0_45"
On our web application, we have been using the font-awesome library packaged with the GCWeb CDTS v4.0.45 for our icon sets. These worked perfectly fine up until about a month ago, but are now no longer loaded by the CDTS. Upon downgrading to v.4.0.44, the icons come back and work as intended.

CDTS scripts initially used (font-awesome library not loading):
[code]

CDTS scripts I tested to specify

[2022-09-28 15:32] plup2 commented on #616
Yes, fontawesome was intentionally removed as part of the 4.0.45 release (mentioned in [CHANGELOG](https://github.com/wet-boew/cdts-sgdc/blob/master/CHANGELOG.md) - the .45 release was done in May but only recently was made the `/rn/` version).  Main reason for the removal was that CDTS itself does not use fontawesome for anything and yet was pulling it in many, many applications that don't use it

[2022-10-07 12:18] jeanbisson opened #624 "search icon overlaps language link"
The search icon overlaps with the language link at the top right if screen size is 992px to 1199px.

Steps to reproduce the behaviour:
Open any webpage using intranet theme with latest version (ex.: [iservice NSD]([https://iservice.prv/eng/imit/nsd/index.shtml]) )
Change screen width within 992px to 1199px

Other details:
"version": "v4_0_45",
"environment": "ESDC_PROD"
Issue does not happen with

[2022-10-17 15:33] ahmad-shahid opened #634 "Having issue with implementing GCIntranet custom menuPath"
**From email**

I was hoping you could please provide some assistance.

Currently using the GCIntranent theme and trying to implement a custom menu using “menuPath” (We are also using the esdc subtheme).

Our custom menu loads, but there are 1-2 second before it loads where we see the esdc subtheme menu.

This menu shows up for about 1-2 seconds before our custom menu

Wondering if you have seen t

[2022-10-19 14:52] #624 closed

[2022-10-24 13:23] #634 closed

[2022-11-02 20:03] ahmad-shahid commented on #241
cdts-sgdc-cdn has been renamed to cdts-JavaTemplates
cdts-sgdc-docs has been renamed to cdts-DotNetTemplates

[2022-11-03 17:21] #607 closed

[2022-11-09 19:53] ahmad-shahid opened #650 "Update to latest WET"

[2022-11-09 20:00] duboisp opened #651 "GCWeb template update - Preparation to support the redesigned site footer v4"
Project code name: Way Finding project

Requirement:
* Have a configurable contextual footer section
  * One (1) title
  * List of configurable links
  * If possible, warn the author when there is more than 3 links and refer them to DTO guidance
* Toggle display of,
  * If possible, enforce the following configuration for a “set of pages” to ensure compliance with “SC 3.2.1 Consistent navigation”

[2022-11-15 14:48] #650 closed

[2022-11-15 16:36] ahmad-shahid opened #658 "Update README-Releasing.md"
Update the section "Releasing on ssl-templates"

Currently, it says: "To be updated."

[2022-11-16 16:27] #658 closed

[2022-11-24 14:05] ahmad-shahid opened #666 "BETA Header"

[2022-11-30 17:12] Dan-Levesque commented on #577
@ahmad-shahid   I believe this issue is because Power Apps Portal (renamed by Microsoft to Power Pages now) only supports Bootstrap v3.3.x for now.  They announced plans to support v5.x in the future, but if CDTS is stuck at Bootstrap v4.x we will be having the same problems again.  When is the CDTS team going to support Bootstrap v5.x?  Is there a timeframe?

For more info on the Microsoft offici

[2022-11-30 17:18] ahmad-shahid commented on #577
Hi @Dan-Levesque, we are dependent on WET for this so as soon as WET starts supporting Bootstrap v5, we will update on our side.